<div class="row">
	<div class="col-ds-2">
		<div id="static-nav" class="fixed" style="top: 80px; min-width: 200px;">
			<nav class="navbar sidebar">
				<ul class="nav">
					<li ui-sref-active="selected"><a ui-sref=".buttons">Buttons</a></li>
					<li ui-sref-active="selected"><a ui-sref=".container">Containers</a></li>
					<li ui-sref-active="selected"><a ui-sref=".grid">Grid</a></li>
					<li ui-sref-active="selected"><a ui-sref=".form">Form</a></li>					
					<li ui-sref-active="selected"><a ui-sref=".message">Message</a></li>
					<li ui-sref-active="selected"><a ui-sref=".navbars">Navbars</a></li>
					<li ui-sref-active="selected"><a ui-sref=".labels">Labels</a></li>
					<li ui-sref-active="selected"><a ui-sref=".images">Images</a></li>
					<li ui-sref-active="selected"><a ui-sref=".table">Tables</a></li>
					<li ui-sref-active="selected"><a ui-sref=".breadcrumbs">BreadCrumbs</a></li>
				</ul>
			</nav>
		</div>	
	</div>

	<div class="col-ds-9" style="margin-left: 22%">
		<div ui-view></div>
	</div>
</div>