<div class="row">
	
	<div class="col-md-2">
		<div id="static-nav">
			<nav class="navbar simple-sidebar">
				<ul class="nav">
					<li class="selected"><a href="#">Buttons</a></li>
					<li><a href="#">Containers</a></li>
					<li><a href="#">Form</a></li>
					<li><a href="#">Labels</a></li>
					<li><a href="#">Message</a></li>
					<li><a href="#">Tables</a></li>
				</ul>
			</nav>
		</div>	
	</div>

	<div class="col-md-9 pull-right">
		<h2>Buttons Elements</h2>
		<div class="bread-crumbs">
			<ul>
				<li><a href="#">Icons</a></li>
				<li><a href="#">Flat</a></li>
				<li><a href="#">Border</a></li>
				<li><a href="#">Size</a></li>
			</ul>
		</div>

		<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

		<h3 class="subtitle">Icons</h3>
	</div>

</div>
