<div class="row">
	
	<div class="col-md-2 fixed">
		<div id="static-nav">
			<nav class="navbar simple-sidebar">
				<ul class="nav">
					<li class="selected"><a href="#">Buttons</a></li>
					<li><a href="#">Containers</a></li>
					<li><a href="#">Form</a></li>
					<li><a href="#">Labels</a></li>
					<li><a href="#">Message</a></li>
					<li><a href="#">Navbars</a></li>
					<li><a href="#">Tables</a></li>
				</ul>
			</nav>
		</div>	
	</div>

	<div class="col-md-9 pull-right">

		<div ui-view="buttons"></div>
	
	</div>

</div>
