<div class="row">
	
	<div class="col-md-2 fixed">
		<div id="static-nav">
			<nav class="navbar simple-sidebar">
				<ul class="nav">
					<li ui-sref-active="selected"><a ui-sref=".buttons">Buttons</a></li>
					<li ui-sref-active="selected"><a ui-sref=".container">Containers</a></li>
					<li ui-sref-active="selected"><a href="#">Form</a></li>
					<li ui-sref-active="selected"><a href="#">Labels</a></li>
					<li ui-sref-active="selected"><a href="#">Message</a></li>
					<li ui-sref-active="selected"><a href="#">Navbars</a></li>
					<li ui-sref-active="selected"><a href="#">Tables</a></li>
				</ul>
			</nav>
		</div>	
	</div>

	<div class="col-md-9 pull-right">

		<div ui-view></div>
	
	</div>

</div>
