<div class="row">
	<div class="col-ds-2">
		<div id="static-nav" class="fixed" style="top: 80px; min-width: 200px;">
			<nav class="navbar simple-sidebar">
				<ul class="nav">
					<li ui-sref-active="selected"><a ui-sref="">Dropdowns</a></li>
					<li ui-sref-active="selected"><a ui-sref="">Date Picker</a></li>
					<li ui-sref-active="selected"><a ui-sref="">Modalbox</a></li>
					<li ui-sref-active="selected"><a ui-sref="">Progress Bar</a></li>
					<li ui-sref-active="selected"><a ui-sref="">Loading</a></li>
					<li ui-sref-active="selected"><a ui-sref="">Tabs</a></li>
					<li ui-sref-active="selected"><a ui-sref="">Switches</a></li>
					<li ui-sref-active="selected"><a ui-sref=".tooltips">Tooltips</a></li>
				</ul>
			</nav>
		</div>	
	</div>

	<div class="col-ds-9 pull-right">
		<div ui-view></div>
	</div>
</div>