<h1>Buttons Elements</h1>
<div class="bread-crumbs">
	<ul>
		<li><a href="#/components/buttons#buttons">Buttons</a></li>
		<li><a href="#/components/buttons#icons">Icons</a></li>
		<li><a href="#/components/buttons#flat">Flat</a></li>
		<li><a href="#/components/buttons#rounded">Rounded</a></li>
		<li><a href="#/components/buttons#raised">Raised</a></li>
		<li><a href="#/components/buttons#social">Social</a></li>
		<li><a href="#/components/buttons#group">Group</a></li>
		<li><a href="#/components/buttons#size">Size</a></li>
	</ul>
</div>

<!-- Buttons -->
<section>
	<h2 class="subtitle" id="icons">Buttons</h2>
	<p class="section-desc">You can use the style within the tags <span class="code-tag">&lt;a&gt;</span>, <span class="code-tag">&lt;button&gt;</span> and <span class="code-tag">&lt;input&gt;</span>. To apply extra colors at the buttons, you can use the following classes: <span class="code-tag">.violet-btn</span> | <span class="code-tag">.regal-blue-btn</span> | <span class="code-tag">.green-sea-btn</span></p>
	<div class="group">
		<button class="default-btn">Default</button>
		<button class="primary-btn">Primary</button>
		<button class="green-btn">Green</button>
		<button class="orange-btn">Orange</button>
		<button class="red-btn">Red</button>
	</div>

	<div class="code">
		<h5>HTML Code</h5>
		<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"default-btn"</span>></span>Default<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
<span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"primary-btn"</span>></span>Primary<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
<span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"green-btn"</span>></span>Success<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
<span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"orange-btn"</span>></span>Warning<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
<span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"red-btn"</span>></span>Danger<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
</pre>
	</div>
</section>

<!-- Icons Buttons -->
<section>
	<h2 class="subtitle" id="icons">Icons</h2>
	<p class="section-desc"> Do you wants icons on your buttons? Use them alone or with text.</p>
	<div class="group">
		<button class="primary-btn"><i class="ion-android-document"></i></button>
		<button class="green-btn"><i class="ion-android-done"></i></button>
		<button class="orange-btn"><i class="ion-android-create"></i></button>
		<button class="red-btn"><i class="ion-android-close"></i></button>
		<a class="violet-btn"><i class="ion-android-settings"></i> Settings</a>
	</div>

	<div class="code">
		<h5>HTML Code</h5>
	
		<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span><span style="color:#e0c589"> class</span>=<span style="color:#8f9d6a">"primary-btn"</span>></span><span style="color:#ac885b">&lt;<span style="color:#ac885b">i</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"ion-android-settings"</span>>&lt;/<span style="color:#ac885b">i</span>></span> Settings<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
</pre>
	</div>
	<div class="blue-dialog">
		<i class="ion-information-circled"></i> For more icons, consult the library at <a href="http://ionicons.com/">ionicons</a>.</p>
	</div>
</section>

<!-- Flat Buttons -->
<section>
	<h2 class="subtitle" id="flat">Flat</h2>
	<p class="section-desc">Transparent buttons until you make mouseover on them. Put the class <span class="code-tag">.flat-btn</span> and after the color you want.</p>
	<div class="group">
		<button class="flat-btn">Default</button>
		<button class="flat-btn blue">Blue</button>
		<button class="flat-btn red">Red</button>
		<button class="flat-btn orange">Orange</button>
		<button class="flat-btn green">Green</button>
		<button class="flat-btn violet">Violet</button>
		<button class="flat-btn regal-blue">Regal-Blue</button>
		<button class="flat-btn green-sea">Green-Sea</button>
	</div>

	<div class="code">
		<h5>HTML Code</h5>
	<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"flat-btn"</span>></span>Default<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
<span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"flat-btn blue"</span>></span>Blue<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
<span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"flat-btn red"</span>></span>Red<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
<span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"flat-btn orange"</span>></span>Orange<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
<span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"flat-btn green"</span>></span>Green<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
<span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"flat-btn violet"</span>></span>Violet<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
<span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"flat-btn regal-blue"</span>></span>Regal-Blue<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
<span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"flat-btn green-sea"</span>></span>Green-Sea<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
</pre>
	</div>
</section>

<!-- Rounded Buttons -->
<section>
	<h2 class="subtitle" id="rounded">Rounded</h2>
	<p class="section-desc">Put the class <span class="code-tag">.rounded</span> for use a curved style.</p>
	<div class="group">
		<button class="violet-btn rounded">Violet</button>
		<button class="regal-blue-btn rounded">Regal-Blue</button>
		<button class="green-sea-btn rounded">Green-Sea</button>
	</div>

	<div class="code">
		<h5>HTML Code</h5>
		<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"violet-btn rounded"</span>></span>Violet<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
</pre>
	</div>
</section>

<!-- Raised Buttons -->
<section>
	<h2 class="subtitle" id="raised">Raised</h2>
	<p class="section-desc">Use the class <span class="code-tag">.raised</span> within your element to get raised buttons and make the effect sinking clicking.</p>
	<div class="group">
		<button class="green-btn raised">Success!</button>
		<button class="primary-btn raised">Save</button>
		<button class="red-btn raised">Cancel</button>
	</div>

	<div class="code">
		<h5>HTML Code</h5>	
		<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"green-btn raised"</span>></span>Success!<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
</pre>
	</div>
</section>

<!-- Social Buttons -->
<section>
	<h2 class="subtitle" id="social">Social Icons</h2>
	<p class="section-desc">For circular buttons, use the class <span class="code-tag">.circle</span>.</p>
	<div class="group">
		<button class="social-btn-tt circle"><i class="ion-social-twitter"></i></button>
		<button class="social-btn-fb circle"><i class="ion-social-facebook"></i></button>
		<button class="social-btn-gg circle"><i class="ion-social-googleplus"></i></button>
		<button class="social-btn-ig circle"><i class="ion-social-instagram"></i></button>
		<button class="social-btn-pt circle"><i class="ion-social-pinterest"></i></button>
		<button class="social-btn-yt circle"><i class="ion-social-youtube"></i></button>
	</div>

	<div class="code">
		<h5>HTML Code</h5>
		<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"social-btn-tt circle"</span>></span><span style="color:#ac885b">&lt;<span style="color:#ac885b">i</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"ion-social-twitter"</span>>&lt;/<span style="color:#ac885b">i</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
<span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"social-btn-fb circle"</span>></span><span style="color:#ac885b">&lt;<span style="color:#ac885b">i</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"ion-social-facebook"</span>>&lt;/<span style="color:#ac885b">i</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
<span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"social-btn-gg circle"</span>></span><span style="color:#ac885b">&lt;<span style="color:#ac885b">i</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"ion-social-googleplus"</span>>&lt;/<span style="color:#ac885b">i</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
<span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"social-btn-ig circle"</span>></span><span style="color:#ac885b">&lt;<span style="color:#ac885b">i</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"ion-social-instagram"</span>>&lt;/<span style="color:#ac885b">i</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
<span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"social-btn-pt circle"</span>></span><span style="color:#ac885b">&lt;<span style="color:#ac885b">i</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"ion-social-pinterest"</span>>&lt;/<span style="color:#ac885b">i</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
<span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"social-btn-yt circle"</span>></span><span style="color:#ac885b">&lt;<span style="color:#ac885b">i</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"ion-social-youtube"</span>>&lt;/<span style="color:#ac885b">i</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
</pre>
	</div>
	<div class="blue-dialog">
		<i class="ion-information-circled"></i> Think big! Use the other classes of the buttons to get other effects.
	</div>
</section>

<!-- Group -->
<section>
	<h2 class="subtitle" id="group">Group</h2>
	<p class="section-desc">You can group many elements in a row. Put the class <span class="code-tag">.btn-group</span> on your parent element.</p>
	<div class="btn-group">
		<button class="default-btn"><i class="ion-android-create"></i> Edit</button>
		<button class="default-btn"><i class="ion-android-delete"></i> Delete</button>
		<button class="default-btn"><i class="ion-android-cloud"></i> Download</button>
	</div>

	<div class="code">
		<h5>HTML Code</h5>
		<pre class="content"><span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"btn-group"</span>></span>
   <span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"default-btn"</span>></span><span style="color:#ac885b">&lt;<span style="color:#ac885b">i</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"ion-android-create"</span>>&lt;/<span style="color:#ac885b">i</span>></span> Edit<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
   <span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"default-btn"</span>></span><span style="color:#ac885b">&lt;<span style="color:#ac885b">i</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"ion-android-delete"</span>>&lt;/<span style="color:#ac885b">i</span>></span> Delete<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
   <span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"default-btn"</span>></span><span style="color:#ac885b">&lt;<span style="color:#ac885b">i</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"ion-android-cloud"</span>>&lt;/<span style="color:#ac885b">i</span>></span> Download<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
<span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
</pre>
	</div>
</section>

<!-- Size -->
<section>
	<h2 class="subtitle" id="size">Size</h2>
	<p class="section-desc">To change the size of the buttons, use the classes <span class="code-tag">.sm-btn</span> o <span class="code-tag">.lg-btn</span></p>

	<div class="group">
		<button class="default-btn sm-btn">Small</button>
		<button class="default-btn">Normal</button>
		<button class="default-btn lg-btn">Large</button>
	</div>

	<div class="code">
		<h5>HTML Code</h5>
		<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"default-btn sm-btn"</span>></span>Small<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
<span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"default-btn"</span>></span>Normal<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
<span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"default-btn lg-btn"</span>></span>Large<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
</pre>
	</div>
	<div class="blue-dialog">
		<i class="ion-information-circled"></i> If you going to use grouped buttons, is not necessary put the style to each element. Only add the class at its parent element. 
	</div>
</section>