<h1>Containers</h1>
<div class="bread-crumbs">
	<ul>
		<li><a href="#/components/container#basic">Basic</a></li>
		<li><a href="#/components/container#page">Pages</a></li>
		<li><a href="#/components/container#cards">Cards</a></li>
	</ul>
</div>

<!-- Basic container -->
<section>
    <h2 class="subtitle" id="basic">Basic</h2>
    <p class="section-desc">Usa la clase <span class="code-tag">.basic-cont</span> para agrupar tu contenido dentro de un cuadro simple</p>
    <div class="basic-cont clear">
    	<h3>Pellentesque fermentum dolor</h3>
    	<p><img src="assets/img/user.png" class="pull-left border" alt=""/> Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc. Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna.</p>	
    </div>
    <div class="code">
    	<h5>HTML Code</h5>
	   <pre class="content"><span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"basic-cont"</span>></span>...<span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
</pre>
    </div>
</section>

<!-- Pages -->
<section>
    <h2 class="subtitle" id="page">Pages</h2>
    <p class="section-desc">Coloca tu contenedor con la clase <span class="code-tag">.basic-cont</span> dentro de un elemento con posición relativa. Para agregar la sensación de que hay un bloque o capa detrás, agrega las clases <span class="code-tag">.basic-cont</span> y <span class="code-tag">.back-page</span> a un elemento de bloque después de tu contenedor principal.</p>

    <div id="wrapper" style="padding-bottom: 0;">
    	<div id="content-page" class="basic-cont clear">
    		<h3>Pellentesque fermentum dolor</h3>
    		<p><img src="assets/img/user.png" class="pull-left border" alt=""/> Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc. Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna.</p>	
    	</div>
    	<div class="back-page basic-cont"></div>
    </div>

    <div class="code">
    	<h5>HTML Code</h5>
        <pre class="content"><span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">id</span>=<span style="color:#8f9d6a">"wrapper"</span>></span>
   <span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">id</span>=<span style="color:#8f9d6a">"content-page"</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"basic-cont clear"</span>></span>
      [...] 
   <span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
   <span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"back-page basic-cont"</span>>&lt;/<span style="color:#ac885b">div</span>></span>
<span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
</pre>
    </div>
</section>

<!-- List Grid -->
<section>
    <h2 class="subtitle" id="cards">Cards</h2>
    <p class="section-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
    <div class="cards row">
        <div class="col-ds-3">
            <a href="#">
                <div class="list">
                    <div class="thumbnail">
                        <img src="http://fullhdpictures.com/wp-content/uploads/2015/03/Landscape-Wallpapers-for-PC.jpg"/>
                        <span class="title">Pellentesque fermentum</span>
                    </div>
                    <div class="content">
                        <h4>Lorem Ipsum</h4>
                        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-ds-3">
            <div class="list">
                <a href="#">
                    <div class="thumbnail">
                        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT3_2cSogvR0aN6WOmT4TnwyuorLbo4d8J8v5o3LKoWOLA1R05Irw" alt=""/>
                        <span class="title">Pellentesque fermentum</span>
                    </div>
                    <div class="content">
                        <h4>Lorem Ipsum</h4>
                        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-ds-3">
            <div class="list">
                <a href="#">
                    <div class="thumbnail">
                        <img src="http://fullhdpictures.com/wp-content/uploads/2015/03/Fantasy-Landscape-Pictures.jpg" alt="" />
                        <span class="title">Pellentesque fermentum</span>
                    </div>                    
                    <div class="content">
                        <h4>Lorem Ipsum</h4>
                        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-ds-3">
            <div class="list">
                <a href="#">
                    <div class="thumbnail">
                        <img src="http://fullhdpictures.com/wp-content/uploads/2015/03/The-Way-Landscape-Wallpapers.jpg" alt=""/>
                        <span class="title">Pellentesque fermentum</span>
                    </div>  
                    <div class="content">
                        <h4>Lorem Ipsum</h4>
                        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="code">
        <h5>HTML Code</h5>
        <pre class="content"><span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"cards row"</span>></span>
   <span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"col-ds-3"</span>></span>
      <span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"list"</span>></span>
         <span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">href</span>=<span style="color:#8f9d6a">"#"</span>></span>
            <span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"thumbnail"</span>></span>
               <span style="color:#e0c589">&lt;<span style="color:#e0c589">img</span> <span style="color:#e0c589">src</span>=<span style="color:#8f9d6a">"..."</span> <span style="color:#e0c589">alt</span>=<span style="color:#8f9d6a">""</span>/></span>
               <span style="color:#e0c589">&lt;<span style="color:#e0c589">span</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"title"</span>></span>...<span style="color:#e0c589">&lt;/<span style="color:#e0c589">span</span>></span>
            <span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>  
            <span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"content"</span>></span>
               <span style="color:#ac885b">&lt;<span style="color:#ac885b">h4</span>></span>...<span style="color:#ac885b">&lt;/<span style="color:#ac885b">h4</span>></span>
               <span style="color:#ac885b">&lt;<span style="color:#ac885b">p</span>></span>...<span style="color:#ac885b">&lt;/<span style="color:#ac885b">p</span>></span>
            <span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
         <span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span>
      <span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
   <span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
<span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
</pre>
    </div>
</section>