<h1>Form</h1>
<div class="bread-crumbs">
	<ul>
		<li><a href="#/components/form#basic">Basic Components</a></li>
		<li><a href="#/components/form#disabled">Disabled Elements</a></li>
		<li><a href="#/components/form#error">Error</a></li>
		<li><a href="#/components/form#custom">Custom Fields</a></li>
		<li><a href="#/components/form#radio-check">Radio Button &amp; Checkbox</a></li>
		<li><a href="#/components/form#search">Search</a></li>
		<li><a href="#/components/form#switch">Switch</a></li>
	</ul>
</div>

<!-- BASIC COMPONENTS -->
<section>
	<h2 class="subtitle" id="basic">Basic Components</h2>
	<p class="section-desc">the basic elements have a simple variation to their natural style. You can use it at 100% with the class <span class="code-tag">.form-input</span></p>
	<div class="row">
		<div class="col-w4"><input type="text" placeholder="Text" class="form-input"/></div>
		<div class="col-w4"><input type="password" placeholder="Password" class="form-input"/></div>
		<div class="col-w4">
			<select class="form-input">
				<option>Option 1</option>	
				<option>Option 2</option>	
				<option>Option 3</option>	
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-w12">
			<textarea placeholder="Textarea" class="form-input" style="margin-bottom: 0;"></textarea>
		</div>
	</div>
</section>

<!-- DISABLED ELEMENTS -->
<section>
	<h2 class="subtitle" id="disabled">Disabled Elements</h2>
	<p class="section-desc">Only add the <span class="code-tag">disabled</span> attribute to your elements.</p>
	<div class="row" style="margin-bottom: 20px;">
		<div class="col-w4">
			<input type="text" class="form-input" disabled>
		</div>
		<div class="col-w4">
			<select class="form-input" disabled>
				<option>Option 1</option>	
				<option>Option 2</option>	
				<option>Option 3</option>	
			</select>
		</div>
		<div class="col-w4">
			<button class="primary-btn" disabled>Send</button>
		</div>
	</div>
	<div>
		<div class="code">
		<h5>HTML Code</h5>
		<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"primary-btn"</span> <span style="color:#e0c589">disabled</span>></span>Send<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
</pre>

	</div>
</section>

<!-- ERROR -->
<section>
	<h2 class="subtitle" id="error">Error</h2>
	<p class="section-desc">Add the class <span class="code-tag">.error</span> at your element to indicate there is something wrong.</p>
	<input type="text" class="error" style="width: 300px">
	<div class="code">
		<h5>HTML Code</h5>
	<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">input</span> <span style="color:#e0c589">type</span>=<span style="color:#8f9d6a">"text"</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"error"</span>/></span>
</pre>
	</div>
</section>

<!-- CUSTOM FIELDS -->
<section>
	<h2 class="subtitle" id="custom">Custom Fields</h2>
	<p class="section-desc">Adds background image and changes the appearance of the fields form, to indicate at the users what kind of fields is.</p>

	<h3 class="category">Inside Icon</h3>
	<div class="row">
		<div class="col-w4"><input type="text" class="bg-icon-user form-input" placeholder=".bg-icon-user"/></div>
		<div class="col-w4"><input type="password" class="bg-icon-pass form-input" placeholder=".bg-icon-pass"/></div>
		<div class="col-w4"><input type="text" class="bg-icon-phone form-input" placeholder=".bg-icon-phone"/></div>
	</div>
	<div class="row">
		<div class="col-w4"><input type="text" class="bg-icon-mail form-input" placeholder=".bg-icon-mail"/></div>
		<div class="col-w4"><input type="text" class="bg-icon-location form-input" placeholder=".bg-icon-location"/></div>
		<div class="col-w4"><input type="text" class="bg-icon-job form-input" placeholder=".bg-icon-job"/></div>
	</div>
	<div class="row">
		<div class="col-w4"><input type="text" class="bg-icon-edit form-input" placeholder=".bg-icon-edit"/></div>
		<div class="col-w4"><input type="text" class="bg-icon-key form-input" placeholder=".bg-icon-key"/></div>
		<div class="col-w4">
			<select class="bg-icon-list form-input">
				<option>.bg-icon-list</option>
				<option>.bg-icon-list (second)</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-w4"><input type="text" class="bg-icon-cloud form-input" placeholder=".bg-icon-cloud"/></div>
		<div class="col-w4"><input type="text" class="bg-icon-bar form-input" placeholder=".bg-icon-bar"/></div>
		<div class="col-w4"><input type="text" class="bg-icon-link form-input" placeholder=".bg-icon-link"/></div>
	</div>
	<div class="row">
		<div class="col-w12"><textarea class="bg-icon-message form-input" placeholder=".bg-icon-message"></textarea></div>
	</div>
	<div class="code">
		<h5>HTML Code</h5>
	<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">input</span> <span style="color:#e0c589">type</span>=<span style="color:#8f9d6a">"text"</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"bg-icon-user"</span>/></span>
</pre>
	</div>

	<h3 class="category">Other Style</h3>
	<div class="row">
		<div class="col-w4">
			<div class="input-group">
				<span class="form-addons"><i class="ion-android-person"></i></span>
				<input type="text" class="form-input" placeholder="Username"/>
			</div>
		</div>
		<div class="col-w4">
			<div class="input-group">
				<span class="form-addons"><i class="ion-android-lock"></i></span>
				<input type="password" class="form-input" placeholder="Password"/>
			</div>
		</div>
		<div class="col-w4">
			<div class="input-group">
				<span class="form-addons"><i class="ion-android-call"></i></span>
				<input type="text" class="form-input" placeholder="Phone"/>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-w4">
			<div class="input-group">
				<span class="form-addons"><i class="ion-android-mail"></i></span>
				<input type="text" class="form-input" placeholder="Email"/>
			</div>
		</div>
		<div class="col-w4">
			<div class="input-group">
				<span class="form-addons"><i class="ion-android-list"></i></span>
				<select class="form-input">
					<option>.box-bg-icon-list</option>
					<option>.box-bg-icon-list (second)</option>
				</select>
			</div>
		</div>
		<div class="col-w4">
			<div class="input-group">
				<span class="form-addons"><i class="ion-android-bookmark"></i></span>
				<input type="text" class="error form-input" placeholder=".error"/>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-w12">
			<div class="input-group">
				<span class="form-addons"><i class="ion-android-textsms"></i></span>
				<textarea class="form-input"></textarea>
			</div>
		</div>
	</div>
	<div class="code">
		<h5>HTML Code</h5>
	<pre class="content"><span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"box-inp"</span>></span>
   <span style="color:#e0c589">&lt;<span style="color:#e0c589">input</span> <span style="color:#e0c589">type</span>=<span style="color:#8f9d6a">"text"</span>/></span>
   <span style="color:#ac885b">&lt;<span style="color:#ac885b">i</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"ion-android-person"</span>>&lt;/<span style="color:#ac885b">i</span>></span>
<span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
</pre>
	</div>
</section>

<!-- RADIO BUTTONS & CHECKBOX -->
<section>
	<h2 class="subtitle" id="radio-check">Radio Buttons &amp; Checkbox</h2>

	<h3 class="category">Radio Buttons</h3>
	<span class="form-label">¿What's your academic level?</span>
	<label class="form-rdb"><input type="radio" name="educacion"/><span class="elem"></span>Primary</label>
	<label class="form-rdb"><input type="radio" name="educacion"/><span class="elem"></span>Secondary</label>
	<label class="form-rdb"><input type="radio" name="educacion"/><span class="elem"></span>Technical</label>
	<label class="form-rdb"><input type="radio" name="educacion"/><span class="elem"></span>University</label>

	<div class="code" style="margin-top: -5px">
		<h5>HTML Code</h5>
	<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">label</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"form-rdb"</span>></span>
   <span style="color:#e0c589">&lt;<span style="color:#e0c589">input</span> <span style="color:#e0c589">type</span>=<span style="color:#8f9d6a">"radio"</span>/></span><span style="color:#ac885b">&lt;<span style="color:#ac885b">span</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"elem"</span>>&lt;/<span style="color:#ac885b">span</span>></span>Primaria
<span style="color:#e0c589">&lt;/<span style="color:#e0c589">label</span>></span>
</pre>
	</div>

	<h3 class="category">Checkbox</h3>
	<span class="form-label">What categories are you interested in?</span>
	<label class="form-chk"><input type="checkbox"/><span class="elem"></span>Sport</label>
	<label class="form-chk"><input type="checkbox"/><span class="elem"></span>Technology</label>
	<label class="form-chk"><input type="checkbox"/><span class="elem"></span>Entertaiment</label>
	<label class="form-chk"><input type="checkbox"/><span class="elem"></span>Travel</label>

	<div class="code" style="margin-top: -5px">
		<h5>HTML Code</h5>
	<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">label</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"form-chk"</span>></span>
   <span style="color:#e0c589">&lt;<span style="color:#e0c589">input</span> <span style="color:#e0c589">type</span>=<span style="color:#8f9d6a">"checkbox"</span>/></span><span style="color:#ac885b">&lt;<span style="color:#ac885b">span</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"elem"</span>>&lt;/<span style="color:#ac885b">span</span>></span>Deportes
<span style="color:#e0c589">&lt;/<span style="color:#e0c589">label</span>></span>
</pre>
	</div>

	<h3 class="category">Input-check</h3>
	
	<div class="row">
		<div class="col-w6">
			<div class="input-group">
				<span class="form-addons">
					<label class="form-rdb"><input type="radio"/><span class="elem"></span></label>
				</span>
				<input type="text" class="form-input" placeholder="radio-btn" />
			</div>
		</div>
		<div class="col-w6">
			<div class="input-group">
				<span class="form-addons">
					<label class="form-chk"><input type="checkbox"/><span class="elem"></span></label>
				</span>
				<input type="text" class="form-input" placeholder="check-box" />
			</div>
		</div>	
	</div>
	<div class="code">
		<h5>HTML Code</h5>
		<pre class="content"><span style="color: #6B6B6B">&lt;!--  Radiobtn --&gt;</span>
<span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"input-group"</span>></span>
   <span style="color:#e0c589">&lt;<span style="color:#e0c589">span</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"form-addons"</span>></span>
      <span style="color:#e0c589">&lt;<span style="color:#e0c589">label</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"form-rdb"</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">input</span> <span style="color:#e0c589">type</span>=<span style="color:#8f9d6a">"radio"</span>/></span><span style="color:#ac885b">&lt;<span style="color:#ac885b">span</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"elem"</span>>&lt;/<span style="color:#ac885b">span</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">label</span>></span>
   <span style="color:#e0c589">&lt;/<span style="color:#e0c589">span</span>></span>
   <span style="color:#e0c589">&lt;<span style="color:#e0c589">input</span> <span style="color:#e0c589">type</span>=<span style="color:#8f9d6a">"text"</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"form-input"</span> <span style="color:#e0c589">placeholder</span>=<span style="color:#8f9d6a">"radio-btn"</span> /></span>
<span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
<span style="color: #6B6B6B">&lt;!--  Checkbox --&gt;</span>
<span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"input-group"</span>></span>
   <span style="color:#e0c589">&lt;<span style="color:#e0c589">span</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"form-addons"</span>></span>
      <span style="color:#e0c589">&lt;<span style="color:#e0c589">label</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"form-chk"</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">input</span> <span style="color:#e0c589">type</span>=<span style="color:#8f9d6a">"checkbox"</span>/></span><span style="color:#ac885b">&lt;<span style="color:#ac885b">span</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"elem"</span>>&lt;/<span style="color:#ac885b">span</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">label</span>></span>
   <span style="color:#e0c589">&lt;/<span style="color:#e0c589">span</span>></span>
   <span style="color:#e0c589">&lt;<span style="color:#e0c589">input</span> <span style="color:#e0c589">type</span>=<span style="color:#8f9d6a">"text"</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"form-input"</span> <span style="color:#e0c589">placeholder</span>=<span style="color:#8f9d6a">"check-box"</span> /></span>
<span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
</pre>
	</div>
</section>

<!-- SEARCH -->
<section>
	<h2 class="subtitle" id="search">Search</h2>
	<div class="row">
		<div class="col-w6">
			<div class="search-box form-input">
				<input type="text" class="bg-icon-glass form-input" placeholder="Search">
				<span class="button">
					<input type="submit" class="submit form-input primary-btn" value="Search" />
				</span>
			</div>
		</div>
		<div class="col-w6">
			<div class="search-box form-input">
				<input type="text" class="form-input" placeholder="Search">
				<span class="button">
					<buttom class="submit form-input primary-btn"><i class="ion-android-search"></i></buttom>
				</span>
			</div>
		</div>
	</div>
	<div class="code">
		<h5>HTML Code</h5>
		<pre class="content"><span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"search-box"</span>></span>
   <span style="color:#e0c589">&lt;<span style="color:#e0c589">input</span> <span style="color:#e0c589">type</span>=<span style="color:#8f9d6a">"text"</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"bg-icon-glass form-input"</span> <span style="color:#e0c589">placeholder</span>=<span style="color:#8f9d6a">"Search"</span>></span>
   <span style="color:#e0c589">&lt;<span style="color:#e0c589">span</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"button"</span>></span>
      <span style="color:#e0c589">&lt;<span style="color:#e0c589">input</span> <span style="color:#e0c589">type</span>=<span style="color:#8f9d6a">"submit"</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"submit form-input primary-btn"</span> <span style="color:#e0c589">value</span>=<span style="color:#8f9d6a">"Search"</span> /></span>
   <span style="color:#e0c589">&lt;/<span style="color:#e0c589">span</span>></span>
<span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
<span style="color: #6B6B6B">&lt;!--  Button Icon --&gt;</span>
<span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"search-box"</span>></span>
   <span style="color:#e0c589">&lt;<span style="color:#e0c589">input</span> <span style="color:#e0c589">type</span>=<span style="color:#8f9d6a">"text"</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"bg-icon-glass form-input"</span> <span style="color:#e0c589">placeholder</span>=<span style="color:#8f9d6a">"Search"</span>></span>
   <span style="color:#e0c589">&lt;<span style="color:#e0c589">span</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"button"</span>></span>
      <span style="color:#ac885b">&lt;<span style="color:#ac885b">buttom</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"submit form-input ds-btn-primary"</span>></span><span style="color:#ac885b">&lt;<span style="color:#ac885b">i</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"ion-android-search"</span>>&lt;/<span style="color:#ac885b">i</span>></span><span style="color:#ac885b">&lt;/<span style="color:#ac885b">buttom</span>></span>
   <span style="color:#e0c589">&lt;/<span style="color:#e0c589">span</span>></span>
<span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
</pre>
	</div>
</section>

<!-- SWITCH BUTTONS -->
<section>
	<h2 class="subtitle" id="switch">Switch</h2>
	<p class="section-desc">Use the switch for simple On/Off options.</p>

	<label class="switch">
		<input type="checkbox" id="" class="switch-input" />
		<span class="switch-label" data-on="Yes" data-off="No"></span>
		<span class="switch-btn"></span>
	</label>
	<div class="code" style="margin-top: -5px">
		<h5>HTML Code</h5>
		<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">label</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"switch"</span>></span>
   <span style="color:#e0c589">&lt;<span style="color:#e0c589">input</span> <span style="color:#e0c589">type</span>=<span style="color:#8f9d6a">"checkbox"</span> <span style="color:#e0c589">id</span>=<span style="color:#8f9d6a">""</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"switch-input"</span> /></span>
   <span style="color:#ac885b">&lt;<span style="color:#ac885b">span</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"switch-label"</span> <span style="color:#ac885b">data-on</span>=<span style="color:#8f9d6a">"Yes"</span> <span style="color:#ac885b">data-off</span>=<span style="color:#8f9d6a">"No"</span>>&lt;/<span style="color:#ac885b">span</span>></span>
   <span style="color:#ac885b">&lt;<span style="color:#ac885b">span</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"switch-btn"</span>>&lt;/<span style="color:#ac885b">span</span>></span>
<span style="color:#e0c589">&lt;/<span style="color:#e0c589">label</span>></span>
</pre>
	</div>
</section>

<script>
	$(document).ready(function(){
		if($('.input-group input[type="text"]').hasClass('error')){
      		$( '.input-group input.error' ).prev( ".form-addons" ).addClass('error');
    	}
	})
</script>