<h1>Grid System</h1>
<p class="section-desc">A simple Grid System. To use the diferent size, change the numeric value in the class.</p>

<section>
	<div id="grid">
		<div class="row">
			<div class="col col-w5"><span>col-w5</span></div> 
			<div class="col col-w5"><span>col-w5</span></div>
			<div class="col col-w2"><span>col-w2</span></div>
		</div>
		<div class="row">
			<div class="col col-w6"><span>col-w6</span></div> 
			<div class="col col-w6"><span>col-w6</span></div>
		</div>
		<div class="row">
			<div class="col col-w8"><span>col-w8</span></div> 
			<div class="col col-w4"><span>col-w4</span></div>
		</div>
		<div class="row">
			<div class="col col-w9"><span>col-w9</span></div> 
			<div class="col col-w3"><span>col-w3</span></div>
		</div>
		<div class="row">
			<div class="col col-w10"><span>col-w10</span></div> 
			<div class="col col-w2"><span>col-w2</span></div>
		</div>
		<div class="row">
			<div class="col col-w12"><span>col-w12</span></div>
		</div>
	</div>

	<div class="code">
		<h5>HTML Code</h5>
		<pre class="content"><span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"row"</span>></span>
   <span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"col-w5"</span>></span>...<span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
<span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
</pre>
	</div>
</section>