<h1>Grid System</h1>
<p class="section-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

<section>
	<div id="grid">
		<div class="row">
			<div class="col col-ds-5"><span>col-ds-5</span></div> 
			<div class="col col-ds-5"><span>col-ds-5</span></div>
			<div class="col col-ds-2"><span>col-ds-2</span></div>
		</div>
		<div class="row">
			<div class="col col-ds-6"><span>col-ds-6</span></div> 
			<div class="col col-ds-6"><span>col-ds-6</span></div>
		</div>
		<div class="row">
			<div class="col col-ds-8"><span>col-ds-8</span></div> 
			<div class="col col-ds-4"><span>col-ds-4</span></div>
		</div>
		<div class="row">
			<div class="col col-ds-9"><span>col-ds-9</span></div> 
			<div class="col col-ds-3"><span>col-ds-3</span></div>
		</div>
		<div class="row">
			<div class="col col-ds-10"><span>col-ds-10</span></div> 
			<div class="col col-ds-2"><span>col-ds-2</span></div>
		</div>
		<div class="row">
			<div class="col col-ds-12"><span>col-ds-12</span></div>
		</div>
	</div>

	<div class="code">
		<h5>HTML Code</h5>
		<pre class="content"><span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"row"</span>></span>
   <span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"col-ds-5"</span>></span>...<span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
<span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
</pre>
	</div>
</section>