<div id="images-section">
	<h1>Images</h1>
	<div class="bread-crumbs">
		<ul>
			<li><a href="#/components/images#border">Shapes</a></li>
			<li><a href="#/components/images#label">Label</a></li>
			<li><a href="#/components/images#size">Sizes</a></li>
		</ul>
	</div>

	<!-- Round and border -->
	<h2 class="subtitle" id="shape">Shapes</h2>
	<p class="section-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
	<img src="assets/img/image-broken.png" class="" alt="">
	<img src="assets/img/user.png" class="circle" alt=""/>
	<img src="assets/img/image-broken.png" class="border" alt=""/>
	<img src="assets/img/user.png" class="circle border" alt=""/>
	
	<div class="code">
		<h5>HTML Code</h5>
		<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">img</span> <span style="color:#e0c589">src</span>=<span style="color:#8f9d6a">"..."</span> <span style="color:#e0c589">alt</span>=<span style="color:#8f9d6a">""</span>></span>
<span style="color:#e0c589">&lt;<span style="color:#e0c589">img</span> <span style="color:#e0c589">src</span>=<span style="color:#8f9d6a">"..."</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"circle"</span> <span style="color:#e0c589">alt</span>=<span style="color:#8f9d6a">""</span>/></span>
<span style="color:#e0c589">&lt;<span style="color:#e0c589">img</span> <span style="color:#e0c589">src</span>=<span style="color:#8f9d6a">"..."</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"border"</span> <span style="color:#e0c589">alt</span>=<span style="color:#8f9d6a">""</span>/></span>
<span style="color:#e0c589">&lt;<span style="color:#e0c589">img</span> <span style="color:#e0c589">src</span>=<span style="color:#8f9d6a">"..."</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"circle border"</span> <span style="color:#e0c589">alt</span>=<span style="color:#8f9d6a">""</span>/></span>
</pre>
	</div>

	<!-- Label -->
	<h2 class="subtitle" id="label">Label</h2>
	<p class="section-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
	<div class="image-block">
		<img src="assets/img/user.png" class="large" alt=""/> 
		<span class="image-label">felis facilisis fermentum</span>
	</div>

	<div class="code">
		<h5>HTML Code</h5>
		<pre class="content"><span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"image-block"</span>></span>
   <span style="color:#e0c589">&lt;<span style="color:#e0c589">img</span> <span style="color:#e0c589">src</span>=<span style="color:#8f9d6a">"..."</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"large"</span> <span style="color:#e0c589">alt</span>=<span style="color:#8f9d6a">""</span>/></span> 
   <span style="color:#e0c589">&lt;<span style="color:#e0c589">span</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"image-label"</span>></span>felis facilisis fermentum<span style="color:#e0c589">&lt;/<span style="color:#e0c589">span</span>></span>
<span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
</pre>
	</div>

	<!-- Sizes -->
	<h2 class="subtitle" id="size">Sizes</h2>
	<p class="section-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
	<div class="clear size-img-position">
		<div class="image-block">
			<img src="assets/img/image-broken.png" class="small" alt=""/> 
			<span class="image-label">.small</span>
		</div>
		<div class="image-block">
			<img src="assets/img/image-broken.png" class="medium" alt=""/> 
			<span class="image-label">.medium</span>
		</div>
		<div class="image-block">
			<img src="assets/img/image-broken.png" class="large" alt=""/> 
			<span class="image-label">.large</span>
		</div>
	</div>
	<div class="code">
		<h5>HTML Code</h5>
		<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">img</span> <span style="color:#e0c589">src</span>=<span style="color:#8f9d6a">"..."</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"medium"</span> <span style="color:#e0c589">alt</span>=<span style="color:#8f9d6a">""</span>/></span> 

</pre>
	</div>
</div>