<h1>Navbars</h1>
<div class="bread-crumbs">
	<ul>
		<li><a href="#/components/navbars#default">Default</a></li>
		<li><a href="#/components/navbars#dark">Dark</a></li>
		<li><a href="#/components/navbars#sidebar">sidebar</a></li>
	</ul>
</div>

<!-- DEFAULT NAVBAR -->
<section>
    <h2 class="subtitle" id="default">Default</h2>
    <nav class="navbar default xample">
    	<div class="container">
    		<div class="head-nav"><a href="#">Company Name <span class="bottom-line"></span></a></div>
        	<ul>
        		<li><a href="#" class="current">Home <span class="bottom-line"></span></a></li>
        		<li><a href="#">About Us <span class="bottom-line"></span></a></li>
        		<li><a href="#">Contact <span class="bottom-line"></span></a></li>
        	</ul>
        </div>
    </nav>

    <div class="code">
    	<h5>HTML Code</h5>
	   <pre class="content"><span style="color:#ac885b">&lt;<span style="color:#ac885b">nav</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"navbar default"</span>></span>
   <span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"container"</span>></span>
      <span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"head-nav"</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">href</span>=<span style="color:#8f9d6a">"#"</span>></span>Company Name<span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span><span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
      <span style="color:#ac885b">&lt;<span style="color:#ac885b">ul</span>></span>
         <span style="color:#e0c589">&lt;<span style="color:#e0c589">li</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">href</span>=<span style="color:#8f9d6a">"#"</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"current"</span>></span>Home<span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">li</span>></span>
         <span style="color:#e0c589">&lt;<span style="color:#e0c589">li</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">href</span>=<span style="color:#8f9d6a">"#"</span>></span>About Us<span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">li</span>></span>
         <span style="color:#e0c589">&lt;<span style="color:#e0c589">li</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">href</span>=<span style="color:#8f9d6a">"#"</span>></span>Contact<span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">li</span>></span>
      <span style="color:#ac885b">&lt;/<span style="color:#ac885b">ul</span>></span>
   <span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
<span style="color:#ac885b">&lt;/<span style="color:#ac885b">nav</span>></span>
</pre>
    </div>
</section>

<!-- DARK NAVBAR -->
<section>
    <h2 class="subtitle" id="dark">Dark</h2>
    <nav class="navbar darknav xample">
    	<div class="container">
    		<div class="head-nav"><a href="index.html">Company Name</a></div>
        	<ul>
        		<li class="current"><a href="#">Home</a></li>
        		<li><a href="#">About</a></li>
        		<li class="submenu vertical">
                    <a href="#">Services</a>
        			<nav>
        				<ul>
        					<li><a href="#">Service 1</a></li>
        					<li><a href="#">Service 2</a></li>
        					<li><a href="#">Service 3</a></li>
        				</ul>
        			</nav>
        		</li>
        		<li><a href="#">Contact</a></li>
        	</ul>
    	</div>
    </nav>
    <div class="code">
    	<h5>HTML Code</h5>
	   <pre class="content"><span style="color:#ac885b">&lt;<span style="color:#ac885b">nav</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"navbar darknav"</span>></span>
   <span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"container"</span>></span>
      <span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"head-nav"</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">href</span>=<span style="color:#8f9d6a">"index.html"</span>></span>Company Name<span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span><span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
      <span style="color:#ac885b">&lt;<span style="color:#ac885b">ul</span>></span>
         <span style="color:#e0c589">&lt;<span style="color:#e0c589">li</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"current"</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">href</span>=<span style="color:#8f9d6a">"#"</span>></span>Home<span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">li</span>></span>
         <span style="color:#e0c589">&lt;<span style="color:#e0c589">li</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">href</span>=<span style="color:#8f9d6a">"#"</span>></span>About<span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">li</span>></span>
         <span style="color:#e0c589">&lt;<span style="color:#e0c589">li</span>></span>
            <span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">href</span>=<span style="color:#8f9d6a">"#"</span>></span>Services<span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span>
            <span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"submenu horizontal"</span>></span>
               <span style="color:#ac885b">&lt;<span style="color:#ac885b">ul</span>></span>
                  <span style="color:#e0c589">&lt;<span style="color:#e0c589">li</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">href</span>=<span style="color:#8f9d6a">"#"</span>></span>Service 1<span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">li</span>></span>
                  <span style="color:#e0c589">&lt;<span style="color:#e0c589">li</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">href</span>=<span style="color:#8f9d6a">"#"</span>></span>Service 2<span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">li</span>></span>
                  <span style="color:#e0c589">&lt;<span style="color:#e0c589">li</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">href</span>=<span style="color:#8f9d6a">"#"</span>></span>Service 3<span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">li</span>></span>
               <span style="color:#ac885b">&lt;/<span style="color:#ac885b">ul</span>></span>
            <span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
         <span style="color:#e0c589">&lt;/<span style="color:#e0c589">li</span>></span>
         <span style="color:#e0c589">&lt;<span style="color:#e0c589">li</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">href</span>=<span style="color:#8f9d6a">"#"</span>></span>Contact<span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">li</span>></span>
      <span style="color:#ac885b">&lt;/<span style="color:#ac885b">ul</span>></span>
   <span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
<span style="color:#ac885b">&lt;/<span style="color:#ac885b">nav</span>></span>
</pre>
    </div>
    <div class="dialog-blue">
        
    </div>
</section>

<!-- SIDEBAR -->
<section>
    <h2 class="subtitle" id="sidebar">Sidebar</h2>
    <p class="section-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

    <div class="testing-area" style="height: 318px">
        <div class="content-sidebar">
            <button class="burger-sidebar"><i class="ion-navicon-round"></i></button>
            <nav class="navbar sidebar" style="z-index: inherit;">
                <ul class="nav">
                    <li class="selected"><a href=""><i class="ion-leaf"></i> Nature</a></li>
                    <li><a href=""><i class="ion-tshirt"></i> Clothes</a></li>
                    <li class="sub-sidebar"><span class="static-option"><i class="ion-android-camera"></i> Photos</span>
                        <nav>
                            <ul>
                                <li><a href="">People</a></li>
                                <li><a href="">Landscape</a></li>
                                <li><a href="">City</a></li>
                            </ul>
                        </nav>
                    </li>
                    <li><a href=""><i class="ion-headphone"></i> Music</a></li>
                    <li><a href=""><i class="ion-film-marker"></i> Movies</a></li>                
                    <li><a href=""><i class="ion-planet"></i> Planets</a></li>
                    <li><a href=""><i class="ion-thermometer"></i> Weather</a></li>
                </ul>
          </nav>
        </div>
    </div>
    <div class="code">
        <h5>HTML Code</h5>
        <pre class="content"><span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"content-sidebar"</span>></span>
    <span style="color:#ac885b">&lt;<span style="color:#ac885b">nav</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"navbar simple-sidebar"</span>></span>
        <span style="color:#ac885b">&lt;<span style="color:#ac885b">ul</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"nav"</span>></span>
            <span style="color:#e0c589">&lt;<span style="color:#e0c589">li</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"selected"</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">ui-sref</span>=<span style="color:#8f9d6a">""</span>></span>Books<span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">li</span>></span>
            <span style="color:#e0c589">&lt;<span style="color:#e0c589">li</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">href</span>=<span style="color:#8f9d6a">""</span>></span>Clothes<span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">li</span>></span>
            <span style="color:#e0c589">&lt;<span style="color:#e0c589">li</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">href</span>=<span style="color:#8f9d6a">""</span>></span>Accesories<span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">li</span>></span>
            <span style="color:#e0c589">&lt;<span style="color:#e0c589">li</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">href</span>=<span style="color:#8f9d6a">""</span>></span>Music<span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">li</span>></span>
            <span style="color:#e0c589">&lt;<span style="color:#e0c589">li</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">href</span>=<span style="color:#8f9d6a">""</span>></span>Travel<span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">li</span>></span>
        <span style="color:#ac885b">&lt;/<span style="color:#ac885b">ul</span>></span>
    <span style="color:#ac885b">&lt;/<span style="color:#ac885b">nav</span>></span>
<span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
</pre>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function(){
        $(".burger-sidebar").on('click', function(){ 
            if($(".content-sidebar").hasClass("hide")){
                $(".content-sidebar").removeClass("hide");
            } else {
                $(".content-sidebar").addClass("hide");
            }

            if($('.sub-sidebar').children('nav').is(':visible')){
                $('.sub-sidebar').children('nav').toggle();
            } else { return false; }
        }); 

        $(".sub-sidebar").on('click', function(){
            $(this).children('nav').toggle();
        });  
    });
</script>