<h1>Progress Bar</h1>
<div class="bread-crumbs">
	<ul>
		<li><a href="#/components/images#border">Shapes</a></li>
		<li><a href="#/components/images#label">Label</a></li>
		<li><a href="#/components/images#size">Sizes</a></li>
	</ul>
</div>

<!-- Round and border -->
<section>
<h2 class="subtitle" id="shape">Shapes</h2>
<p class="section-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

<div class="progress-bar">
	<div class="bar blue" style="width: 80%"> 80% </div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		//var progress= $('.progress-bar .bar').width()*100/$('.progress-bar').width();
		
		// if(progress <= 40){
		// 	$('.progress-bar .bar').addClass('red');
		// } else if (progress <= 70) {
		// 	$('.progress-bar .bar').removeClass('red');
		// 	$('.progress-bar .bar').addClass('orange');
		// } else {
		// 	$('.progress-bar .bar').removeClass('orange');
		// 	$('.progress-bar .bar').addClass('blue');
		// }

	});
</script>