<h1>Modalbox</h1>
<div class="bread-crumbs">
	<ul>
		<li><a href="#/css/buttons#icons">Icons</a></li>
		<li><a href="#/css/buttons#flat">Position</a></li>
	</ul>
</div>

<!-- Icons Buttons -->
<h2 class="subtitle" id="icons">Icons</h2>
<p class="section-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

<div id="modal-one" class="modal-wrap">
	<div class="modalbox">
		<div class="modal-header">
			<h2>Modal title</h2>
			<button class="close-btn"><i class="ion-close"></i></button>
		</div>
		<div class="modal-content">
			<p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
		</div>
		<div class="modal-footer">
			<button class="ds-btn-primary">Aceptar</button>
		</div>
	</div>
</div>

<button class="ds-btn-primary open-modal" data-target="modal-one">Show Modal</button>

<div class="code">
	<h5>HTML Code</h5>
</div>