<h1>Buttons Elements</h1>
<div class="bread-crumbs">
	<ul>
		<li><a href="#/css/buttons#icons">Icons</a></li>
		<li><a href="#/css/buttons#flat">Position</a></li>
	</ul>
</div>

<!-- Icons Buttons -->
<h2 class="subtitle" id="icons">Icons</h2>
<p class="section-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

<buttom class="tooltip primary-btn" data-tooltip="Agregar Registro" data-direction="bottom"><i class="ion-android-add"></i></buttom>

<div class="code">
	<h5>HTML Code</h5>
</div>