/*===================================================
====================== GENERAL ======================
===================================================*/
*::selection { background: #CCC; color: #fafafa; }

* { box-sizing: border-box; }

a { color: #2980b9; }

.pull-left { float: left !important; }

.pull-right { float: right !important; }

.full-img { height: auto; width: 100% !important; }

.full-width { width: 100% !important; }

.navbar:after, .sidebar:after { content: ''; clear: both; display: block; }

.bread-crumbs { margin: -10px 0 30px; }
.bread-crumbs ul { margin: 0; padding: 0; }
.bread-crumbs ul li { border-right: 1px solid #2980b9; font-size: 14px; line-height: normal; list-style: none; display: inline-block; padding: 0 10px; }
.bread-crumbs ul li:first-child { padding-left: 0; }
.bread-crumbs ul li:last-child { border: 0; }
.bread-crumbs ul li a:hover { opacity: 0.8; }

/*===================================================
====================== NAVBAR =======================
===================================================*/
.navbar { font-size: 16px; line-height: 18px; width: 100%; z-index: 999; }
.navbar a { color: #353535; display: block; padding: 15px; text-decoration: none; }
.navbar a:hover { text-decoration: none; }
.navbar .head-nav { float: left; font-size: 18px; margin-right: 40px; }
.navbar .head-nav a { padding-left: 0; }
.navbar ul { margin: 0; padding: 0; }
.navbar ul li { list-style: none; }
.navbar .hr_nav { float: left; }
.navbar .hr_nav li { float: left; margin-right: 3px; }
.navbar.default { background-color: #274058; color: #fafafa; }
.navbar.default a { transition: 0.3s; -webkit-transition: 0.3s; -moz-transition: 0.3s; -ms-transition: 0.3s; -o-transition: 0.3s; color: #fafafa; opacity: 0.7; }
.navbar.default a:hover, .navbar.default a.current { color: #fafafa; opacity: 1; }
.navbar.sidebar { background-color: #fafafa; border: 1px solid #DCDCDC; width: 200px; }
.navbar.sidebar li { border-bottom: 1px solid #DCDCDC; }
.navbar.sidebar li:last-child { border-bottom: 0; }
.navbar.simple-sidebar a { margin-bottom: 2px; padding: 10px; }
.navbar.simple-sidebar li { transition: 0.3s; -webkit-transition: 0.3s; -moz-transition: 0.3s; -ms-transition: 0.3s; -o-transition: 0.3s; }
.navbar.simple-sidebar li:hover, .navbar.simple-sidebar li.selected { background-color: #fafafa; border-radius: 0 3px 3px 0; box-shadow: 2px 0 0 #2980b9 inset; -webkit-box-shadow: 2px 0 0 #2980b9 inset; -moz-box-shadow: 2px 0 0 #2980b9 inset; -ms-box-shadow: 2px 0 0 #2980b9 inset; -o-box-shadow: 2px 0 0 #2980b9 inset; font-weight: bold; padding-left: 20px; }

/*===================================================
====================== BUTTONS ======================
===================================================*/
.ds-btn-default, .ds-btn-success, .ds-btn-primary, .ds-btn-warning, .ds-btn-danger, .ds-btn-wisteria, .ds-btn-regal-blue, .ds-btn-green-sea, .ds-social-tt, .ds-social-fb, .ds-social-gg, .ds-social-ig, .ds-social-pt, .ds-social-yt, .ds-btn-flat-blue, .ds-btn-flat-red, .ds-btn-flat-orange, .ds-btn-flat-green, .ds-btn-flat-wisteria, .ds-btn-flat-regal-blue, .ds-btn-flat-green-sea { border: 0; border-radius: .2em; color: #fafafa; cursor: pointer; display: inline-block; font-size: 16px !important; outline: 0; padding: 6px 14px; vertical-align: bottom; transition: 0.2s; -webkit-transition: 0.2s; -moz-transition: 0.2s; -ms-transition: 0.2s; -o-transition: 0.2s; text-decoration: none; }
.ds-btn-default:hover, .ds-btn-success:hover, .ds-btn-primary:hover, .ds-btn-warning:hover, .ds-btn-danger:hover, .ds-btn-wisteria:hover, .ds-btn-regal-blue:hover, .ds-btn-green-sea:hover, .ds-social-tt:hover, .ds-social-fb:hover, .ds-social-gg:hover, .ds-social-ig:hover, .ds-social-pt:hover, .ds-social-yt:hover, .ds-btn-flat-blue:hover, .ds-btn-flat-red:hover, .ds-btn-flat-orange:hover, .ds-btn-flat-green:hover, .ds-btn-flat-wisteria:hover, .ds-btn-flat-regal-blue:hover, .ds-btn-flat-green-sea:hover { opacity: 0.9; text-decoration: none; }
.ds-btn-default:active, .ds-btn-success:active, .ds-btn-primary:active, .ds-btn-warning:active, .ds-btn-danger:active, .ds-btn-wisteria:active, .ds-btn-regal-blue:active, .ds-btn-green-sea:active, .ds-social-tt:active, .ds-social-fb:active, .ds-social-gg:active, .ds-social-ig:active, .ds-social-pt:active, .ds-social-yt:active, .ds-btn-flat-blue:active, .ds-btn-flat-red:active, .ds-btn-flat-orange:active, .ds-btn-flat-green:active, .ds-btn-flat-wisteria:active, .ds-btn-flat-regal-blue:active, .ds-btn-flat-green-sea:active { opacity: 1; }

.ds-btn-flat-blue, .ds-btn-flat-red, .ds-btn-flat-orange, .ds-btn-flat-green, .ds-btn-flat-wisteria, .ds-btn-flat-regal-blue, .ds-btn-flat-green-sea { background-color: transparent; opacity: 1 !important; }

.rounded { border-radius: 30px; padding: 6px 26px; }
.rounded.btn-sm { padding: 0px 14px; }
.rounded.btn-lg { padding: 10px 34px; }

.circle { border-radius: 30px; font-size: 22px !important; height: 45px; padding: 0; text-align: center; width: 45px; }
.circle .btn-sm { font-size: 15px !important; height: 30px; width: 30px; }
.circle .btn-lg { font-size: 26px !important; height: 60px; width: 60px; }

.raised { border-width: 0 0 4px !important; transition: 0.1s; -webkit-transition: 0.1s; -moz-transition: 0.1s; -ms-transition: 0.1s; -o-transition: 0.1s; }
.raised:active { border: 0; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset; -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset; -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset; -ms-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset; -o-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset; }

.btn-sm { font-size: 13px !important; padding: 2px 8px; }

.btn-lg { font-size: 20px !important; padding: 14px 28px; }

.ds-btn-default { background-color: #fafafa; border: 1px solid #B9B9B9; color: #353535; }

.ds-btn-success { background-color: #27ae60; border: 1px solid #1E9651; }

.ds-btn-primary { background-color: #2980b9; border: 1px solid #206B9C; }

.ds-btn-warning { background-color: #f39c12; border: 1px solid #D48C19; }

.ds-btn-danger { background-color: #e74c3c; border: 1px solid #C53F31; }

.ds-btn-wisteria { background-color: #8e44ad; border: 1px solid #773592; }

.ds-btn-regal-blue { background-color: #274058; border: 1px solid #253748; }

.ds-btn-green-sea { background-color: #16a085; border: 1px solid #118E75; }

.ds-btn-flat-blue { color: #2980b9; }

.ds-btn-flat-blue:hover { background-color: #2980b9; color: #fafafa; }

.ds-btn-flat-red { color: #e74c3c; }

.ds-btn-flat-red:hover { background-color: #e74c3c; color: #fafafa; }

.ds-btn-flat-orange { color: #f39c12; }

.ds-btn-flat-orange:hover { background-color: #f39c12; color: #fafafa; }

.ds-btn-flat-green { color: #27ae60; }

.ds-btn-flat-green:hover { background-color: #27ae60; color: #fafafa; }

.ds-btn-flat-wisteria { color: #8e44ad; }

.ds-btn-flat-wisteria:hover { background-color: #8e44ad; color: #fafafa; }

.ds-btn-flat-regal-blue { color: #274058; }

.ds-btn-flat-regal-blue:hover { background-color: #274058; color: #fafafa; }

.ds-btn-flat-green-sea { color: #16a085; }

.ds-btn-flat-green-sea:hover { background-color: #16a085; color: #fafafa; }

.ds-social-tt { background-color: #55acee; }

.ds-social-fb { background-color: #3b5998; }

.ds-social-gg { background-color: #DD4B39; }

.ds-social-ig { background-color: #a77658; }

.ds-social-pt { background-color: #bd081c; }

.ds-social-yt { background-color: #ed3935; }

/*===================================================
==================== CONTAINERS =====================
===================================================*/
.basic-cont { box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -ms-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -o-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); background-color: #fafafa; border-radius: 3px; padding: 30px; }

.list-grid .list { border: 1px solid #CCC; border-radius: 3px; background-color: #fafafa; min-height: 250px; padding: 10px; }
.list-grid .list .img { margin-bottom: 15px; }
.list-grid .list h4 { margin-bottom: 8px; }
.list-grid .list p { font-size: 14px; margin: 0; }

.card-content .card { box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -ms-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -o-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); background-color: #fafafa; border-radius: 3px; border-top: 4px solid #bdc3c7; min-height: 140px; padding: 15px; }
.card-content .card h4 { margin-bottom: 8px; }
.card-content .card p { font-size: 14px; margin: 0; }

/*===================================================
==================== GRID SYSTEM ====================
===================================================*/
.row { margin: 0 -10px; }
.row:before, .row:after { clear: both; content: ""; display: block; }
.row .col { box-sizing: border-box; float: left; padding: 0 10px; }
.row .col-ds-1 { width: 8.33333%; }
.row .col-ds-2 { width: 16.66667%; }
.row .col-ds-3 { width: 25%; }
.row .col-ds-4 { width: 33.33333%; }
.row .col-ds-5 { width: 41.66667%; }
.row .col-ds-6 { width: 50%; }
.row .col-ds-7 { width: 58.33333%; }
.row .col-ds-8 { width: 66.66667%; }
.row .col-ds-9 { width: 75%; }
.row .col-ds-10 { width: 83.33333%; }
.row .col-ds-11 { width: 91.66667%; }
.row .col-ds-12 { width: 100%; }

/*===================================================
===================== MESSAGES ======================
===================================================*/
.info-alert, .success-alert, .warning-alert, .danger-alert { border-radius: 4px; font-size: 15px; margin-bottom: 20px; overflow: hidden; }
.info-alert h4.head-message, .success-alert h4.head-message, .warning-alert h4.head-message, .danger-alert h4.head-message { color: #fafafa; font-weight: normal; margin: 0; padding: 3px 15px; }
.info-alert h4.head-message .ion, .success-alert h4.head-message .ion, .warning-alert h4.head-message .ion, .danger-alert h4.head-message .ion { margin-right: 4px; }
.info-alert p, .success-alert p, .warning-alert p, .danger-alert p { margin: 0; padding: 10px 15px; }

.info-alert { background-color: rgba(41, 128, 185, 0.1); border: 1px solid rgba(41, 128, 185, 0.6); color: #2980b9; }
.info-alert h4 { background-color: rgba(41, 128, 185, 0.6); }

.success-alert { background-color: rgba(39, 174, 96, 0.1); border: 1px solid rgba(39, 174, 96, 0.7); color: #27ae60; }
.success-alert h4 { background-color: rgba(39, 174, 96, 0.7); }

.warning-alert { background-color: rgba(243, 156, 18, 0.1); border: 1px solid rgba(243, 156, 18, 0.6); color: #f39c12; }
.warning-alert h4 { background-color: rgba(243, 156, 18, 0.6); }

.danger-alert { background-color: rgba(231, 76, 60, 0.1); border: 1px solid rgba(231, 76, 60, 0.9); color: #e74c3c; }
.danger-alert h4 { background-color: rgba(231, 76, 60, 0.9); }

/*===================================================
====================== IMAGES =======================
===================================================*/
.img { background-color: #fafafa; overflow: hidden; position: relative; }
.img.small { height: 60px; width: 70px; }
.img.default { height: 110px; width: 120px; }
.img.medium { height: 160px; width: 170px; }
.img.large { height: 210px; width: 220px; }
.img.circleBox { border-radius: 100px !important; height: 110px; overflow: hidden; width: 110px; }
.img.circleBox.small { height: 50px; width: 50px; }
.img.circleBox.medium { height: 150px; width: 150px; }
.img.circleBox.large { height: 200px; width: 200px; }
.img.circleBox img { border-radius: 100px; }
.img.border { border: 1px solid #C1C1C1; border-radius: 3px; padding: 4px; }
.img.pull-left { margin: 0 15px 15px 0; }
.img.pull-right { margin: 0 0 15px 15px; }
.img img { background-color: #C1C1C1; background-image: url(../img/svg/image.svg); background-position: center; background-repeat: no-repeat; background-size: 60%; display: block; height: 100%; width: 100%; }
.img img.user { background-image: url(../img/svg/user.svg); }
.img img.broken { background-image: url(../img/svg/image-broken.svg); }
.img .image-label { background-color: rgba(53, 53, 53, 0.7); bottom: 0; color: #fafafa; display: block; font-size: 14px; padding: 2px 10px; position: absolute; width: 100%; }

/*===================================================
====================== TABLES =======================
===================================================*/
table { width: 100%; }
table th, table td { padding: 5px 15px; }
table th { font-size: 16px; }
table td { font-size: 14px; }
table thead { border-bottom: 2px solid #CCC; border-top: 2px solid #CCC; }
table thead.nocenter th { text-align: left; }
table tbody tr { border-bottom: 1px solid #CCC; }
table.striped tbody tr:nth-child(2n) { background-color: rgba(236, 236, 236, 0.6); }
table.custom-table { background-color: #fafafa; border: 1px solid #CCC; border-bottom: 0; border-collapse: separate; border-radius: 5px; overflow: hidden; }
table.custom-table thead { background-color: #274058; border: 0; }
table.custom-table thead th { color: #fafafa; }
table.custom-table td { border-bottom: 1px solid #CCC; }
table.custom-table-fcolor { background-color: #274058; border-radius: 5px; color: #fafafa; overflow: hidden; }
table.custom-table-fcolor thead, table.custom-table-fcolor tbody tr { border: 1px solid rgba(250, 250, 250, 0.1); }
table.custom-table-fcolor.custom-table-fcolor.striped tbody tr:nth-child(2n) { background-color: #3A546D !important; }

/*# sourceMappingURL=global_style.css.map */
