/*===================================================
====================== GENERAL ======================
===================================================*/
* {
  box-sizing: border-box; }

a {
  color: #2980b9; }

.navbar:after, .sidebar:after {
  content: '';
  clear: both;
  display: block; }

.bread-crumbs {
  margin: -10px 0 30px; }
  .bread-crumbs ul {
    margin: 0;
    padding: 0; }
    .bread-crumbs ul li {
      border-right: 1px solid #2980b9;
      font-size: 14px;
      line-height: normal;
      list-style: none;
      display: inline-block;
      padding: 0 10px; }
      .bread-crumbs ul li:first-child {
        padding-left: 0; }
      .bread-crumbs ul li:last-child {
        border: 0; }
      .bread-crumbs ul li a:hover {
        opacity: 0.8; }

/*===================================================
====================== NAVBAR =======================
===================================================*/
.navbar {
  font-size: 16px;
  line-height: 18px;
  width: 100%;
  z-index: 999; }
  .navbar a {
    color: #353535;
    display: block;
    padding: 15px;
    text-decoration: none; }
    .navbar a:hover {
      text-decoration: none; }
  .navbar .head-nav {
    float: left;
    font-size: 18px;
    margin-right: 40px; }
    .navbar .head-nav a {
      padding-left: 0; }
  .navbar ul {
    margin: 0;
    padding: 0; }
    .navbar ul li {
      list-style: none; }
  .navbar .hr_nav {
    float: left; }
    .navbar .hr_nav li {
      float: left;
      margin-right: 3px; }
  .navbar.default {
    background-color: #274058;
    color: #fafafa; }
    .navbar.default a {
      color: #fafafa;
      opacity: 0.7; }
      .navbar.default a:hover, .navbar.default a.current {
        color: #fafafa;
        opacity: 1; }
  .navbar.sidebar {
    background-color: #fafafa;
    border: 1px solid #DCDCDC;
    width: 200px; }
    .navbar.sidebar li {
      border-bottom: 1px solid #DCDCDC; }
      .navbar.sidebar li:last-child {
        border-bottom: 0; }
  .navbar.simple-sidebar a {
    margin-bottom: 2px;
    padding: 10px; }
  .navbar.simple-sidebar li {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s; }
    .navbar.simple-sidebar li:hover, .navbar.simple-sidebar li.selected {
      background-color: #fafafa;
      border-radius: 0 3px 3px 0;
      box-shadow: 2px 0 0 #2980b9 inset;
      -webkit-box-shadow: 2px 0 0 #2980b9 inset;
      -moz-box-shadow: 2px 0 0 #2980b9 inset;
      -ms-box-shadow: 2px 0 0 #2980b9 inset;
      -o-box-shadow: 2px 0 0 #2980b9 inset;
      font-weight: bold;
      padding-left: 20px; }

/*===================================================
====================== BUTTONS ======================
===================================================*/
.ds-btn-default, .ds-btn-success, .ds-btn-primary, .ds-btn-warning, .ds-btn-danger, .ds-btn-wisteria, .ds-btn-regal-blue, .ds-btn-green-sea, .ds-btn-flat-blue, .ds-btn-flat-red, .ds-btn-flat-orange, .ds-btn-flat-green, .ds-btn-flat-wisteria, .ds-btn-flat-regal-blue, .ds-btn-flat-green-sea {
  border: 0;
  border-radius: .2em;
  color: #fafafa;
  cursor: pointer;
  display: inline-block;
  font-size: 16px !important;
  outline: 0;
  padding: 6px 14px;
  vertical-align: bottom;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  text-decoration: none; }
  .ds-btn-default:hover, .ds-btn-success:hover, .ds-btn-primary:hover, .ds-btn-warning:hover, .ds-btn-danger:hover, .ds-btn-wisteria:hover, .ds-btn-regal-blue:hover, .ds-btn-green-sea:hover, .ds-btn-flat-blue:hover, .ds-btn-flat-red:hover, .ds-btn-flat-orange:hover, .ds-btn-flat-green:hover, .ds-btn-flat-wisteria:hover, .ds-btn-flat-regal-blue:hover, .ds-btn-flat-green-sea:hover {
    opacity: 0.9;
    text-decoration: none; }
  .ds-btn-default:active, .ds-btn-success:active, .ds-btn-primary:active, .ds-btn-warning:active, .ds-btn-danger:active, .ds-btn-wisteria:active, .ds-btn-regal-blue:active, .ds-btn-green-sea:active, .ds-btn-flat-blue:active, .ds-btn-flat-red:active, .ds-btn-flat-orange:active, .ds-btn-flat-green:active, .ds-btn-flat-wisteria:active, .ds-btn-flat-regal-blue:active, .ds-btn-flat-green-sea:active {
    opacity: 1; }

.ds-btn-default {
  background-color: #fafafa;
  border: 1px solid #B9B9B9;
  color: #353535; }

.ds-btn-success {
  background-color: #27ae60;
  border: 1px solid #1E9651; }

.ds-btn-primary {
  background-color: #2980b9;
  border: 1px solid #206B9C; }

.ds-btn-warning {
  background-color: #f39c12;
  border: 1px solid #D48C19; }

.ds-btn-danger {
  background-color: #e74c3c;
  border: 1px solid #C53F31; }

.ds-btn-wisteria {
  background-color: #8e44ad;
  border: 1px solid #773592; }

.ds-btn-regal-blue {
  background-color: #274058;
  border: 1px solid #253748; }

.ds-btn-green-sea {
  background-color: #16a085;
  border: 1px solid #118E75; }

.ds-btn-flat-blue, .ds-btn-flat-red, .ds-btn-flat-orange, .ds-btn-flat-green, .ds-btn-flat-wisteria, .ds-btn-flat-regal-blue, .ds-btn-flat-green-sea {
  background-color: transparent;
  opacity: 1 !important; }

.ds-btn-flat-blue {
  color: #2980b9; }

.ds-btn-flat-blue:hover {
  background-color: #2980b9;
  color: #fafafa; }

.ds-btn-flat-red {
  color: #e74c3c; }

.ds-btn-flat-red:hover {
  background-color: #e74c3c;
  color: #fafafa; }

.ds-btn-flat-orange {
  color: #f39c12; }

.ds-btn-flat-orange:hover {
  background-color: #f39c12;
  color: #fafafa; }

.ds-btn-flat-green {
  color: #27ae60; }

.ds-btn-flat-green:hover {
  background-color: #27ae60;
  color: #fafafa; }

.ds-btn-flat-wisteria {
  color: #8e44ad; }

.ds-btn-flat-wisteria:hover {
  background-color: #8e44ad;
  color: #fafafa; }

.ds-btn-flat-regal-blue {
  color: #274058; }

.ds-btn-flat-regal-blue:hover {
  background-color: #274058;
  color: #fafafa; }

.ds-btn-flat-green-sea {
  color: #16a085; }

.ds-btn-flat-green-sea:hover {
  background-color: #16a085;
  color: #fafafa; }

.rounded {
  border: 0;
  border-radius: 30px;
  padding: 6px 26px; }

.border {
  border-width: 0 0 4px;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s; }
  .border:active {
    border: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
    -ms-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
    -o-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset; }

.ds-btn-sm {
  font-size: 14px;
  padding: 0 6px; }

/*===================================================
==================== CONTAINERS =====================
===================================================*/
.basic-cont {
  background-color: #fafafa;
  border-radius: 3px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  -ms-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  -o-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); }

/*# sourceMappingURL=global_style.css.map */
