/*===================================================
====================== GENERAL ======================
===================================================*/
* { box-sizing: border-box; }

body { background-color: #ECECEC; color: #353535; font-family: 'Lato', sans-serif; font-size: 16px; line-height: 24px; }
body.preventload * { transition: none !important; -webkit-transition: none !important; -moz-transition: none !important; -ms-transition: none !important; -o-transition: none !important; }

h1, h2, h3, h4, h5, h6 { font-family: 'Roboto', sans-serif; margin-top: 0 !important; }

a { color: #2980b9; }

.pull-left { float: left !important; }

.pull-right { float: right !important; }

.full-img { height: auto; width: 100% !important; }

.full-width { width: 100% !important; }

.navbar:after, .sidebar:after, .clear:after { content: ''; clear: both; display: block; }

.bread-crumbs { margin: -10px 0 30px; }
.bread-crumbs ul { margin: 0; padding: 0; }
.bread-crumbs ul li { border-right: 1px solid #2980b9; font-size: 14px; line-height: normal; list-style: none; display: inline-block; padding: 0 7px 0 5px; }
.bread-crumbs ul li:first-child { padding-left: 0; }
.bread-crumbs ul li:last-child { border: 0; }
.bread-crumbs ul li a:hover { opacity: 0.8; }

#wrapper { position: relative; }

.container { margin: 0 auto; width: 95%; min-width: 980px; padding: 0 20px; }

#content-page { background-color: #fafafa; margin-bottom: 30px; padding: 25px 30px 30px; }

.back-page { background-color: #fafafa; height: 50px; left: -50%; margin: 0 auto; position: absolute; right: -50%; top: -14px; width: 93%; z-index: -1; }

.header-page { border-bottom: 1px dashed #CCC; margin-bottom: 30px; padding-bottom: 15px; position: relative; }
.header-page #back { margin-right: 14px; padding: 0 12px; position: relative; top: -2px; }
.header-page h2 { margin: 0; }
.header-page .button { padding: 5px 12px !important; position: absolute; right: 0; top: -5px; }

.btn-options { margin-top: 30px; }

/*===================================================
====================== NAVBAR =======================
===================================================*/
.navbar { font-size: 16px; line-height: 18px; margin-bottom: 40px; width: 100%; z-index: 999; }
.navbar a { color: #353535; display: block; padding: 15px; text-decoration: none; }
.navbar a:hover { text-decoration: none; }
.navbar .head-nav { float: left; font-size: 18px; margin-right: 40px; }
.navbar .head-nav a { padding-left: 0; }
.navbar ul { margin: 0; padding: 0; }
.navbar ul li { list-style: none; }
.navbar .hr_nav { float: left; }
.navbar .hr_nav li { float: left; margin-right: 3px; }
.navbar.default { background-color: #274058; color: #fafafa; }
.navbar.default a { transition: 0.3s; -webkit-transition: 0.3s; -moz-transition: 0.3s; -ms-transition: 0.3s; -o-transition: 0.3s; color: #fafafa; opacity: 0.7; }
.navbar.default a:hover, .navbar.default a.current { color: #fafafa; opacity: 1; }
.navbar.darknavbar { background-color: rgba(53, 53, 53, 0.9); }
.navbar.darknavbar img { float: left; margin-right: 5px; position: relative; top: -7px; width: 30px; }
.navbar.darknavbar li { transition: 0.2s; -webkit-transition: 0.2s; -moz-transition: 0.2s; -ms-transition: 0.2s; -o-transition: 0.2s; }
.navbar.darknavbar li:hover, .navbar.darknavbar li.current { background-color: #2980b9; }
.navbar.darknavbar li:hover .submenu { visibility: visible; height: 48px; opacity: 1; }
.navbar.darknavbar a { color: #fafafa; }
.navbar.darknavbar .submenu { height: 0; transition: 0.2s; -webkit-transition: 0.2s; -moz-transition: 0.2s; -ms-transition: 0.2s; -o-transition: 0.2s; visibility: hidden; height: 0; opacity: 0; position: absolute; z-index: 999; }
.navbar.darknavbar .submenu li { transition: none; -webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none; }
.navbar.darknavbar .submenu.horizontal { background-color: #2980b9; width: 100%; left: 0; }
.navbar.darknavbar .submenu.horizontal li a { opacity: .8; }
.navbar.darknavbar .submenu.horizontal li a:hover { background-color: rgba(250, 250, 250, 0.2); opacity: 1; }
.navbar.sidebar { background-color: #fafafa; border: 1px solid #DCDCDC; width: 200px; }
.navbar.sidebar li { border-bottom: 1px solid #DCDCDC; }
.navbar.sidebar li:last-child { border-bottom: 0; }
.navbar.simple-sidebar a { margin-bottom: 2px; padding: 10px; }
.navbar.simple-sidebar li { transition: 0.3s; -webkit-transition: 0.3s; -moz-transition: 0.3s; -ms-transition: 0.3s; -o-transition: 0.3s; }
.navbar.simple-sidebar li:hover, .navbar.simple-sidebar li.selected { background-color: #FFF; border-radius: 0 3px 3px 0; box-shadow: 2px 0 0 #2980b9 inset; -webkit-box-shadow: 2px 0 0 #2980b9 inset; -moz-box-shadow: 2px 0 0 #2980b9 inset; -ms-box-shadow: 2px 0 0 #2980b9 inset; -o-box-shadow: 2px 0 0 #2980b9 inset; font-weight: bold; padding-left: 20px; }

/*===================================================
====================== BUTTONS ======================
===================================================*/
.ds-btn-default, .ds-btn-success, .ds-btn-primary, .ds-btn-warning, .ds-btn-danger, .ds-btn-wisteria, .ds-btn-regal-blue, .ds-btn-green-sea, .ds-social-tt, .ds-social-fb, .ds-social-gg, .ds-social-ig, .ds-social-pt, .ds-social-yt, .ds-btn-flat-blue, .ds-btn-flat-red, .ds-btn-flat-orange, .ds-btn-flat-green, .ds-btn-flat-wisteria, .ds-btn-flat-regal-blue, .ds-btn-flat-green-sea { border: 0; border-radius: .2em; color: #fafafa; cursor: pointer; display: inline-block; font-size: 16px !important; outline: 0; padding: 6px 14px; transition: 0.2s; -webkit-transition: 0.2s; -moz-transition: 0.2s; -ms-transition: 0.2s; -o-transition: 0.2s; text-decoration: none; }
.ds-btn-default:hover, .ds-btn-success:hover, .ds-btn-primary:hover, .ds-btn-warning:hover, .ds-btn-danger:hover, .ds-btn-wisteria:hover, .ds-btn-regal-blue:hover, .ds-btn-green-sea:hover, .ds-social-tt:hover, .ds-social-fb:hover, .ds-social-gg:hover, .ds-social-ig:hover, .ds-social-pt:hover, .ds-social-yt:hover, .ds-btn-flat-blue:hover, .ds-btn-flat-red:hover, .ds-btn-flat-orange:hover, .ds-btn-flat-green:hover, .ds-btn-flat-wisteria:hover, .ds-btn-flat-regal-blue:hover, .ds-btn-flat-green-sea:hover { opacity: 0.9; text-decoration: none; }
.ds-btn-default:active, .ds-btn-success:active, .ds-btn-primary:active, .ds-btn-warning:active, .ds-btn-danger:active, .ds-btn-wisteria:active, .ds-btn-regal-blue:active, .ds-btn-green-sea:active, .ds-social-tt:active, .ds-social-fb:active, .ds-social-gg:active, .ds-social-ig:active, .ds-social-pt:active, .ds-social-yt:active, .ds-btn-flat-blue:active, .ds-btn-flat-red:active, .ds-btn-flat-orange:active, .ds-btn-flat-green:active, .ds-btn-flat-wisteria:active, .ds-btn-flat-regal-blue:active, .ds-btn-flat-green-sea:active { opacity: 1; }

.ds-btn-flat-blue, .ds-btn-flat-red, .ds-btn-flat-orange, .ds-btn-flat-green, .ds-btn-flat-wisteria, .ds-btn-flat-regal-blue, .ds-btn-flat-green-sea { background-color: transparent; opacity: 1 !important; }

.rounded { border-radius: 30px; padding: 6px 26px; }
.rounded.btn-sm { padding: 0px 14px; }
.rounded.btn-lg { padding: 10px 34px; }

.circle { border-radius: 30px; font-size: 22px !important; height: 45px; padding: 0; text-align: center; width: 45px; }
.circle .btn-sm { font-size: 15px !important; height: 30px; width: 30px; }
.circle .btn-lg { font-size: 26px !important; height: 60px; width: 60px; }

.raised { transition: none; -webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none; border-width: 0 0 4px !important; position: relative; }
.raised:active { border: 0; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset; -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset; -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset; -ms-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset; -o-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset; border: 0; top: 4px; }

.btn-sm { font-size: 13px !important; padding: 2px 8px; }

.btn-lg { font-size: 20px !important; padding: 14px 28px; }

.ds-btn-default { background-color: #fafafa; border: 1px solid #CCC; color: #353535; }

.ds-btn-success { background-color: rgba(39, 174, 96, 0.92); border: 1px solid #27ae60; }

.ds-btn-primary { background-color: rgba(41, 128, 185, 0.92); border: 1px solid #2980b9; }

.ds-btn-warning { background-color: rgba(243, 156, 18, 0.92); border: 1px solid #f39c12; }

.ds-btn-danger { background-color: rgba(231, 76, 60, 0.92); border: 1px solid #e74c3c; }

.ds-btn-wisteria { background-color: rgba(142, 68, 173, 0.92); border: 1px solid #8e44ad; }

.ds-btn-regal-blue { background-color: rgba(39, 64, 88, 0.9); border: 1px solid #274058; }

.ds-btn-green-sea { background-color: rgba(22, 160, 133, 0.92); border: 1px solid #16a085; }

.ds-btn-flat-blue { color: #2980b9; }

.ds-btn-flat-blue:hover { background-color: #2980b9; color: #fafafa; }

.ds-btn-flat-red { color: #e74c3c; }

.ds-btn-flat-red:hover { background-color: #e74c3c; color: #fafafa; }

.ds-btn-flat-orange { color: #f39c12; }

.ds-btn-flat-orange:hover { background-color: #f39c12; color: #fafafa; }

.ds-btn-flat-green { color: #27ae60; }

.ds-btn-flat-green:hover { background-color: #27ae60; color: #fafafa; }

.ds-btn-flat-wisteria { color: #8e44ad; }

.ds-btn-flat-wisteria:hover { background-color: #8e44ad; color: #fafafa; }

.ds-btn-flat-regal-blue { color: #274058; }

.ds-btn-flat-regal-blue:hover { background-color: #274058; color: #fafafa; }

.ds-btn-flat-green-sea { color: #16a085; }

.ds-btn-flat-green-sea:hover { background-color: #16a085; color: #fafafa; }

.ds-social-tt { background-color: #55acee; }

.ds-social-fb { background-color: #3b5998; }

.ds-social-gg { background-color: #DD4B39; }

.ds-social-ig { background-color: #a77658; }

.ds-social-pt { background-color: #bd081c; }

.ds-social-yt { background-color: #ed3935; }

/*===================================================
==================== CONTAINERS =====================
===================================================*/
.basic-cont { box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -ms-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -o-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); background-color: #fafafa; border-radius: 3px; padding: 30px; }

.list-grid .list { border: 1px solid #CCC; border-radius: 3px; background-color: #fafafa; margin-bottom: 10px; min-height: 250px; padding: 10px; }
.list-grid .list .img { margin-bottom: 15px; }
.list-grid .list h4 { margin-bottom: 8px; }
.list-grid .list p { font-size: 14px; margin: 0; }

.card-content .card { box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -ms-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -o-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); background-color: #fafafa; border-radius: 3px; border-top: 4px solid #bdc3c7; margin-bottom: 10px; min-height: 140px; padding: 15px; }
.card-content .card h4 { margin-bottom: 8px; }
.card-content .card p { font-size: 14px; margin: 0; }

/*===================================================
=================== FORM ELEMENTS ===================
===================================================*/
.form-inp { width: 100% !important; }

.form-label { display: block; font-size: 14px; font-weight: bold; }

input:-webkit-autofill { padding-left: 16px !important; -webkit-box-shadow: 0 0 0px 1000px #fff inset; }

/*BASICS*/
input[type="text"], input[type="password"], input[type="number"], select, textarea, .upload-file { background-color: #fafafa; border: 1px solid #ccc; border-radius: 4px; height: 40px; margin-bottom: 15px; padding: 0 12px; position: relative; }

input[type="radio"], input[type="checkbox"] { margin-bottom: 15px; }

textarea { display: block; height: 80px; margin-bottom: 15px; padding: 8px 12px; }

/*DISABLED ELEMENTS*/
*:disabled { cursor: not-allowed !important; opacity: .6; }
*:disabled:hover { opacity: .6; }

input:disabled, select:disabled, textarea:disabled { background-color: rgba(204, 204, 204, 0.4); border: 1px solid rgba(39, 64, 88, 0.4); }

/*ERROR STYLE*/
.error, .error input, .error textarea, .error select { background-color: #FFF6DC !important; border-color: rgba(231, 76, 60, 0.7) !important; color: #e74c3c; }

/*ESPECIAL FIELDS*/
.inp-user { background-image: url("../img/svg/account.svg"); background-repeat: no-repeat; background-position: 12px 7px; padding-left: 45px !important; }

.inp-pass { background-image: url("../img/svg/lock.svg"); background-repeat: no-repeat; background-position: 12px 7px; padding-left: 45px !important; }

.inp-phone { background-image: url("../img/svg/phone.svg"); background-repeat: no-repeat; background-position: 12px 7px; padding-left: 45px !important; }

.inp-mail { background-image: url("../img/svg/mail.svg"); background-repeat: no-repeat; background-position: 12px 7px; padding-left: 45px !important; }

.inp-location { background-image: url("../img/svg/location.svg"); background-repeat: no-repeat; background-position: 12px 7px; padding-left: 45px !important; }

.inp-job { background-image: url("../img/svg/job.svg"); background-repeat: no-repeat; background-position: 12px 7px; padding-left: 45px !important; }

.inp-message { background-image: url("../img/svg/message.svg"); background-repeat: no-repeat; background-position: 12px 7px; padding-left: 45px !important; }

.inp-edit { background-image: url("../img/svg/pencil.svg"); background-repeat: no-repeat; background-position: 12px 7px; padding-left: 45px !important; }

.inp-list { background-image: url("../img/svg/list.svg"); background-repeat: no-repeat; background-position: 12px 7px; padding-left: 45px !important; }

.inp-link { background-image: url("../img/svg/link.svg"); background-repeat: no-repeat; background-position: 12px 7px; padding-left: 45px !important; }

.inp-cloud { background-image: url("../img/svg/cloud.svg"); background-repeat: no-repeat; background-position: 12px 7px; padding-left: 45px !important; }

.inp-key { background-image: url("../img/svg/key.svg"); background-repeat: no-repeat; background-position: 12px 7px; padding-left: 45px !important; }

.inp-bar { background-image: url("../img/svg/barcode.svg"); background-repeat: no-repeat; background-position: 12px 7px; padding-left: 45px !important; }

.inp-glass { background-image: url("../img/svg/glass.svg"); background-repeat: no-repeat; background-position: 12px 7px; padding-left: 45px !important; }

.box-inp { margin-bottom: 15px; position: relative; }
.box-inp i { background-color: rgba(53, 53, 53, 0.8); border-radius: 4px 0 0 4px; border-right: 1px solid rgba(53, 53, 53, 0.7); color: #fafafa; font-size: 20px; height: 100%; left: 0; line-height: 40px; position: absolute; text-align: center; top: 0; width: 42px; z-index: 1; }
.box-inp input, .box-inp textarea, .box-inp select { margin-bottom: 0; padding-left: 50px; }
.box-inp .error + i { background-color: rgba(231, 76, 60, 0.9); border-right-color: rgba(231, 76, 60, 0.7); }

/*SEARCH*/
.search-box { position: relative; margin-bottom: 20px; width: 350px; }
.search-box.medium { width: 500px; }
.search-box.full { width: 100%; }
.search-box input[type="text"] { margin: 0; width: 100%; }
.search-box .submit { border-radius: 0 3px 3px 0; font-size: 14px !important; position: absolute; right: 0; top: 0; height: 100%; }
.search-box .submit i { font-size: 16px !important; }

/*RADIOBTN & CHECKBOX*/
.form-chk, .form-rdb { display: inline-block; cursor: pointer; margin: 0 10px 10px 0; position: relative; }
.form-chk:last-child, .form-rdb:last-child { margin-right: 0; }
.form-chk input, .form-rdb input { margin-right: 8px; opacity: 0; }
.form-chk input:checked + span.elem, .form-rdb input:checked + span.elem { border-color: #16a085; }
.form-chk input:checked + span.elem:before, .form-rdb input:checked + span.elem:before { background-color: #16a085; }
.form-chk.form-rdb span.elem, .form-rdb.form-rdb span.elem { border-radius: 20px; }
.form-chk.form-rdb span.elem:before, .form-rdb.form-rdb span.elem:before { border-radius: 10px; }
.form-chk span.elem, .form-rdb span.elem { transition: 0.1s; -webkit-transition: 0.1s; -moz-transition: 0.1s; -ms-transition: 0.1s; -o-transition: 0.1s; background-color: #fafafa; border: 1px solid rgba(53, 53, 53, 0.4); border-radius: 4px; box-shadow: 0 0 6px rgba(53, 53, 53, 0.2) inset; display: block; height: 16px; left: 0; padding: 2px; position: absolute; top: 4px; width: 16px; }
.form-chk span.elem:before, .form-rdb span.elem:before { transition: 0.1s; -webkit-transition: 0.1s; -moz-transition: 0.1s; -ms-transition: 0.1s; -o-transition: 0.1s; background-color: transparent; border-radius: 1px; display: block; content: ""; height: 100%; width: 100%; }
.form-chk.orange input:checked + span.elem, .form-rdb.orange input:checked + span.elem { border-color: #f39c12; }
.form-chk.orange input:checked + span.elem:before, .form-rdb.orange input:checked + span.elem:before { background-color: rgba(243, 156, 18, 0.8); }
.form-chk.regal-blue input:checked + span.elem, .form-rdb.regal-blue input:checked + span.elem { border-color: #274058; }
.form-chk.regal-blue input:checked + span.elem:before, .form-rdb.regal-blue input:checked + span.elem:before { background-color: rgba(39, 64, 88, 0.8); }
.form-chk.red input:checked + span.elem, .form-rdb.red input:checked + span.elem { border-color: #2c3e50; }
.form-chk.red input:checked + span.elem:before, .form-rdb.red input:checked + span.elem:before { background-color: rgba(44, 62, 80, 0.8); }
.form-chk.wisteria input:checked + span.elem, .form-rdb.wisteria input:checked + span.elem { border-color: #8e44ad; }
.form-chk.wisteria input:checked + span.elem:before, .form-rdb.wisteria input:checked + span.elem:before { background-color: rgba(142, 68, 173, 0.8); }
.form-chk.regal-blue input:checked + span.elem, .form-rdb.regal-blue input:checked + span.elem { border-color: #274058; }
.form-chk.regal-blue input:checked + span.elem:before, .form-rdb.regal-blue input:checked + span.elem:before { background-color: rgba(39, 64, 88, 0.8); }

/* DATE PICKER @package     PickMeUp - jQuery datepicker plugin @author      Nazar Mokrynskyi <nazar@mokrynskyi.com> @author      Stefan Petre <www.eyecon.ro> @copyright   Copyright (c) 2013-2015, Nazar Mokrynskyi @copyright   Copyright (c) 2008-2009, Stefan Petre @license     MIT License, see license.txt */
.date-picker { background-color: #fafafa; border-radius: 4px; height: 40px; overflow: hidden; position: relative; }
.date-picker span { background-color: rgba(204, 204, 204, 0.4); border-left: 1px solid #CCC; color: rgba(53, 53, 53, 0.6); display: block; font-size: 18px; height: 100%; line-height: 2.2em; padding: 0 14px; position: absolute; right: 0; top: 0; }

.pickmeup { box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -ms-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -o-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); background: #fafafa; border: 1px solid #CCC; border-radius: 0.4em; display: none; margin-top: 2px; position: absolute; }
.pickmeup .pmu-month { font-weight: bold; }
.pickmeup .pmu-instance { display: inline-block; height: 14em; padding: .3em .5em; text-align: center; width: 15em; }
.pickmeup .pmu-instance .pmu-button { color: rgba(53, 53, 53, 0.8); cursor: pointer; outline: none; text-decoration: none; }
.pickmeup .pmu-instance .pmu-button:hover { background: "transparent"; color: #2980b9; }
.pickmeup .pmu-instance .pmu-today { color: #2980b9; font-weight: bold; }
.pickmeup .pmu-instance .pmu-selected { background: #2980b9; color: #fafafa; font-weight: normal; }
.pickmeup .pmu-instance .pmu-selected:hover { color: #fafafa; }
.pickmeup .pmu-instance .pmu-not-in-month { color: #CCC; }
.pickmeup .pmu-instance .pmu-disabled, .pickmeup .pmu-instance .pmu-disabled:hover { color: #353535; cursor: default; }
.pickmeup .pmu-instance .pmu-not-in-month.pmu-selected { background: #274058; }
.pickmeup .pmu-instance nav { color: #ECECEC; display: -ms-flexbox; display: -webkit-flex; display: flex; line-height: 2em; }
.pickmeup .pmu-instance nav *:first-child :hover { color: rgba(41, 128, 185, 0.6); }
.pickmeup .pmu-instance nav .pmu-prev, .pickmeup .pmu-instance nav .pmu-next { display: none; height: 2em; width: 1em; }
.pickmeup .pmu-instance nav .pmu-month { color: #2980b9; width: 14em; }
.pickmeup .pmu-instance nav.pmu-day-of-week { color: #353535; cursor: default; }
.pickmeup .pmu-instance nav.pmu-day-of-week * { display: inline-block; line-height: 1.8em; width: 2em; }
.pickmeup .pmu-instance .pmu-years *, .pickmeup .pmu-instance .pmu-months * { display: inline-block; line-height: 3.6em; width: 3.5em; }
.pickmeup .pmu-instance .pmu-days * { display: inline-block; font-size: 13px; line-height: inherit; width: 2.4em; }
.pickmeup .pmu-instance:first-child .pmu-prev, .pickmeup .pmu-instance:last-child .pmu-next { display: block; }
.pickmeup .pmu-instance:first-child .pmu-month, .pickmeup .pmu-instance:last-child .pmu-month { width: 13em; }
.pickmeup .pmu-instance:first-child:last-child .pmu-month { width: 12em; }
.pickmeup:not(.pmu-view-days) .pmu-days, .pickmeup:not(.pmu-view-days) .pmu-day-of-week, .pickmeup:not(.pmu-view-months) .pmu-months, .pickmeup:not(.pmu-view-years) .pmu-years { display: none; }

/*===================================================
==================== GRID SYSTEM ====================
===================================================*/
.row { margin: 0 -10px; }
.row:before, .row:after { clear: both; content: ""; display: block; }
.row .col-ds-1, .row .col-ds-2, .row .col-ds-3, .row .col-ds-4, .row .col-ds-5, .row .col-ds-6, .row .col-ds-7, .row .col-ds-8, .row .col-ds-9, .row .col-ds-10, .row .col-ds-11, .row .col-ds-12 { box-sizing: border-box; float: left; padding: 0 10px; }
.row .col-ds-1 { width: 8.33333%; }
.row .col-ds-2 { width: 16.66667%; }
.row .col-ds-3 { width: 25%; }
.row .col-ds-4 { width: 33.33333%; }
.row .col-ds-5 { width: 41.66667%; }
.row .col-ds-6 { width: 50%; }
.row .col-ds-7 { width: 58.33333%; }
.row .col-ds-8 { width: 66.66667%; }
.row .col-ds-9 { width: 75%; }
.row .col-ds-10 { width: 83.33333%; }
.row .col-ds-11 { width: 91.66667%; }
.row .col-ds-12 { width: 100%; }

/*===================================================
===================== MESSAGES ======================
===================================================*/
.info-alert, .success-alert, .warning-alert, .danger-alert { border-radius: 4px; font-size: 15px; margin-bottom: 20px; overflow: hidden; }
.info-alert h4.head-message, .success-alert h4.head-message, .warning-alert h4.head-message, .danger-alert h4.head-message { color: #fafafa; font-weight: normal; margin: 0; padding: 3px 15px; }
.info-alert p, .success-alert p, .warning-alert p, .danger-alert p { margin: 0; padding: 10px 15px; }

.info-alert { background-color: rgba(41, 128, 185, 0.1); border: 1px solid rgba(41, 128, 185, 0.6); color: #2980b9; }
.info-alert h4 { background-color: rgba(41, 128, 185, 0.6); }

.success-alert { background-color: rgba(39, 174, 96, 0.1); border: 1px solid rgba(39, 174, 96, 0.7); color: #27ae60; }
.success-alert h4 { background-color: rgba(39, 174, 96, 0.7); }

.warning-alert { background-color: rgba(243, 156, 18, 0.1); border: 1px solid rgba(243, 156, 18, 0.6); color: #f39c12; }
.warning-alert h4 { background-color: rgba(243, 156, 18, 0.6); }

.danger-alert { background-color: rgba(231, 76, 60, 0.1); border: 1px solid rgba(231, 76, 60, 0.9); color: #e74c3c; }
.danger-alert h4 { background-color: rgba(231, 76, 60, 0.9); }

.dialog-black, .dialog-blue, .dialog-clouds, .dialog-midnight-blue, .dialog-green, .dialog-green-sea, .dialog-orange, .dialog-regal-blue, .dialog-red, .dialog-silver, .dialog-wisteria, .dialog-yellow, .dialog-grey, .dialog-light-grey { background-color: #fafafa; border: 1px solid; border-left-width: 6px; border-radius: 4px; margin-bottom: 30px; padding: 15px; }
.dialog-black h3, .dialog-blue h3, .dialog-clouds h3, .dialog-midnight-blue h3, .dialog-green h3, .dialog-green-sea h3, .dialog-orange h3, .dialog-regal-blue h3, .dialog-red h3, .dialog-silver h3, .dialog-wisteria h3, .dialog-yellow h3, .dialog-grey h3, .dialog-light-grey h3 { margin: 0 0 10px; }
.dialog-black p, .dialog-blue p, .dialog-clouds p, .dialog-midnight-blue p, .dialog-green p, .dialog-green-sea p, .dialog-orange p, .dialog-regal-blue p, .dialog-red p, .dialog-silver p, .dialog-wisteria p, .dialog-yellow p, .dialog-grey p, .dialog-light-grey p { margin: 0; }

.dialog-black { border-color: #353535; }

.dialog-blue { border-color: #2980b9; }

.dialog-clouds { border-color: #ecf0f1; }

.dialog-midnight-blue { border-color: #2c3e50; }

.dialog-green { border-color: #27ae60; }

.dialog-green-sea { border-color: #16a085; }

.dialog-orange { border-color: #f39c12; }

.dialog-regal-blue { border-color: #274058; }

.dialog-red { border-color: #e74c3c; }

.dialog-silver { border-color: #bdc3c7; }

.dialog-wisteria { border-color: #8e44ad; }

.dialog-yellow { border-color: #f1c40f; }

.dialog-grey { border-color: #CCC; }

.dialog-light-grey { border-color: #ECECEC; }

/*===================================================
====================== IMAGES =======================
===================================================*/
.img { background-color: #fafafa; overflow: hidden; position: relative; }
.img.small { height: 60px; width: 70px; }
.img.default { height: 110px; width: 120px; }
.img.medium { height: 160px; width: 170px; }
.img.large { height: 210px; width: 220px; }
.img.circleBox { border-radius: 100px !important; height: 110px; overflow: hidden; width: 110px; }
.img.circleBox.small { height: 50px; width: 50px; }
.img.circleBox.medium { height: 150px; width: 150px; }
.img.circleBox.large { height: 200px; width: 200px; }
.img.circleBox img { border-radius: 100px; }
.img.border { border: 1px solid #C1C1C1; border-radius: 3px; padding: 4px; }
.img.pull-left { margin: 0 15px 15px 0; }
.img.pull-right { margin: 0 0 15px 15px; }
.img img { background-color: #C1C1C1; background-image: url(../img/svg/image.svg); background-position: center; background-repeat: no-repeat; background-size: 60%; display: block; height: 100%; width: 100%; }
.img img.user { background-image: url(../img/svg/user.svg); }
.img img.broken { background-image: url(../img/svg/image-broken.svg); }
.img .image-label { background-color: rgba(53, 53, 53, 0.7); bottom: 0; color: #fafafa; display: block; font-size: 14px; padding: 2px 10px; position: absolute; width: 100%; }

/*===================================================
====================== TABLES =======================
===================================================*/
table.ds-table { width: 100%; }
table.ds-table th, table.ds-table td { padding: 5px 15px; }
table.ds-table th { font-size: 16px; }
table.ds-table td { font-size: 14px; }
table.ds-table thead { border-bottom: 2px solid #CCC; border-top: 2px solid #CCC; }
table.ds-table thead.nocenter th { text-align: left; }
table.ds-table tbody tr { border-bottom: 1px solid #CCC; }
table.ds-table.striped tbody tr:nth-child(2n) { background-color: #ECECEC; }
table.ds-table.bgheader { background-color: #fafafa; border: 1px solid #CCC; border-bottom: 0; border-collapse: separate; border-radius: 5px; overflow: hidden; }
table.ds-table.bgheader thead { background-color: #274058; border: 0; }
table.ds-table.bgheader thead th { color: #fafafa; }
table.ds-table.bgheader td { border-bottom: 1px solid #CCC; }
table.ds-table.fcolor { background-color: #274058; border-radius: 5px; color: #fafafa; overflow: hidden; }
table.ds-table.fcolor thead, table.ds-table.fcolor tbody tr { border: 1px solid rgba(250, 250, 250, 0.1); }
table.ds-table.fcolor.fcolor.striped tbody tr:nth-child(2n) { background-color: #3A546D !important; }
table.ds-table.column thead { border: 0; }
table.ds-table.column th:after { border-bottom: 2px solid #2980b9; display: block; content: ""; margin: 10px auto 0; width: 100%; }
table.ds-table.column th:first-child { padding-left: 0; }
table.ds-table.column th:last-child { padding-right: 0; }
table.ds-table.column tbody tr { border: 0; }

/*# sourceMappingURL=main.css.map */
