//================== IMPORT FILES ===========-=======
@import "partials/variables";
@import "partials/mixins";
//===================================================

/*===================================================
====================== GENERAL ======================
===================================================*/
* { box-sizing: border-box; }

a { color: $blue; }

.navbar:after, .sidebar:after { 
	content: ''; 
	clear: both; 
	display: block; 
}

.bread-crumbs {
	margin: -10px 0 30px;

	ul { 
		margin: 0; 
		padding: 0; 

		li {
			border-right: 1px solid $blue; 
			font-size: 14px;
			line-height: normal;
			list-style: none; 
			display: inline-block;
			padding: 0 10px;

			&:first-child { padding-left: 0; }
			&:last-child { border: 0 }

			a:hover { opacity: 0.8; }
		}
	}
}

//================== IMPORT FILES ===========-=======
@import "partials/navbar";
@import "partials/buttons";
@import "partials/container";
//===================================================