<h1>Form</h1>
<div class="bread-crumbs">
	<ul>
		<li><a href="#/css/breadcrumbs#basic">Basic</a></li>
		<li><a href="#/css/breadcrumbs#arrow">Arrow</a></li>
	</ul>
</div>

<!-- BASIC -->
<h2 class="subtitle" id="basic">Basic</h2>
<p class="section-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

<div class="bread-crumbs">
	<ul>
		<li><a href="#">Components</a></li>
		<li><a href="#">Buttons</a></li>
		<li><a href="#">Containers</a></li>
	</ul>
</div>

<div class="code">
	<h5>HTML Code</h5>
	<pre class="content"><span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"bread-crumbs"</span>></span>
   <span style="color:#ac885b">&lt;<span style="color:#ac885b">ul</span>></span>
      <span style="color:#e0c589">&lt;<span style="color:#e0c589">li</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">href</span>=<span style="color:#8f9d6a">"#"</span>></span>Components<span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">li</span>></span>
      <span style="color:#e0c589">&lt;<span style="color:#e0c589">li</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">href</span>=<span style="color:#8f9d6a">"#"</span>></span>Buttons<span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">li</span>></span>
      <span style="color:#e0c589">&lt;<span style="color:#e0c589">li</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">href</span>=<span style="color:#8f9d6a">"#"</span>></span>Containers<span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">li</span>></span>
   <span style="color:#ac885b">&lt;/<span style="color:#ac885b">ul</span>></span>
<span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
</pre>
</div>

<!-- ARROW -->
<h2 class="subtitle" id="arrow">Arrow</h2>
<p class="section-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
<div class="bread-crumbs arrow">
	<ul>
		<li><a href="#"><i class="ion-android-home"></i> Home</a></li>
		<li><a href="#"><i class="ion-cube"></i> Components</a></li>
		<li><a href="#"><i class="ion-social-youtube-outline"></i> Buttons</a></li>
		<li><a href="#"><i class="ion-android-funnel"></i> Containers</a></li>
	</ul>
</div>

<div class="code">
	<h5>HTML Code</h5>
	<pre class="content"><span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"bread-crumbs arrow"</span>></span>
   <span style="color:#ac885b">&lt;<span style="color:#ac885b">ul</span>></span>
      <span style="color:#e0c589">&lt;<span style="color:#e0c589">li</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">href</span>=<span style="color:#8f9d6a">"#"</span>></span><span style="color:#ac885b">&lt;<span style="color:#ac885b">i</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"ion-android-home"</span>>&lt;/<span style="color:#ac885b">i</span>></span> Home<span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">li</span>></span>
   <span style="color:#ac885b">&lt;/<span style="color:#ac885b">ul</span>></span>
<span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
</pre>
</div>