<h1>Buttons Elements</h1>
<div class="bread-crumbs">
	<ul>
		<li><a href="#/css/buttons#icons">Icons</a></li>
		<li><a href="#/css/buttons#flat">Flat</a></li>
		<li><a href="#/css/buttons#rounded">Rounded</a></li>
		<li><a href="#/css/buttons#raised">Raised</a></li>
		<li><a href="#/css/buttons#social">Social</a></li>
		<li><a href="#/css/buttons#size">Size</a></li>
	</ul>
</div>

<div class="section-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</div>

<!-- Icons Buttons -->
<h2 class="subtitle" id="icons">Icons</h2>
<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
<div class="group">
	<button class="ds-btn-default"><i class="ion-android-print"></i></button>
	<button class="ds-btn-primary"><i class="ion-android-document"></i></button>
	<button class="ds-btn-success"><i class="ion-android-done"></i></button>
	<button class="ds-btn-warning"><i class="ion-android-create"></i></button>
	<button class="ds-btn-danger"><i class="ion-android-close"></i></button>
	<a class="ds-btn-wisteria"><i class="ion-android-settings"></i> Settings</a>
</div>

<div class="code">
	<h5>HTML Code</h5>
	
	<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span><span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"ds-btn-primary"</span>></span><span style="color:#ac885b">&lt;<span style="color:#ac885b">i</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"ion-android-settings"</span>>&lt;/<span style="color:#ac885b">i</span>></span> Settings<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
</pre>
</div>

<!-- Flat Buttons -->
<h2 class="subtitle" id="flat">Flat</h2>
<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

<div class="group">
	<button class="ds-btn-flat-blue">Blue</button>
	<button class="ds-btn-flat-red">Red</button>
	<button class="ds-btn-flat-orange">Orange</button>
	<button class="ds-btn-flat-green">Green</button>
	<button class="ds-btn-flat-wisteria">Wisteria</button>
	<button class="ds-btn-flat-regal-blue">Regal-Blue</button>
	<button class="ds-btn-flat-green-sea">Green-Sea</button>
	<button class="ds-btn-flat-green-sea">Green-Sea</a>
</div>

<div class="code">
	<h5>HTML Code</h5>
	<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"ds-btn-flat-wisteria"</span>></span>Wisteria<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
<span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"ds-btn-flat-regal-blue"</span>></span>Regal-Blue<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
<span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"ds-btn-flat-green-sea"</span>></span>Green-Sea<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
</pre>
</div>

<!-- Rounded Buttons -->
<h2 class="subtitle" id="rounded">Rounded</h2>
<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

<div class="group">
	<button class="ds-btn-wisteria rounded">Wisteria</button>
	<button class="ds-btn-regal-blue rounded">Regal-Blue</button>
	<button class="ds-btn-green-sea rounded">Green-Sea</button>
</div>

<div class="code">
	<h5>HTML Code</h5>
	<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"ds-btn-wisteria rounded"</span>></span>Wisteria<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
</pre>
</div>

<!-- Raised Buttons -->
<h2 class="subtitle" id="raised">Raised</h2>
<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

<div class="group">
	<button class="ds-btn-success raised">Success!</button>
	<button class="ds-btn-primary raised">Save</button>
	<button class="ds-btn-danger raised">Cancel</button>
</div>

<div class="code">
	<h5>HTML Code</h5>	
	<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"ds-btn-success raised"</span>></span>Success!<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
</pre>
</div>

<!-- Social Buttons -->
<h2 class="subtitle" id="social">Social Icons</h2>
<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

<div class="group">
	<button class="ds-social-tt circle"><i class="ion-social-twitter"></i></button>
	<button class="ds-social-fb circle"><i class="ion-social-facebook"></i></button>
	<button class="ds-social-gg circle"><i class="ion-social-googleplus"></i></button>
	<button class="ds-social-ig circle"><i class="ion-social-instagram"></i></button>
	<button class="ds-social-pt circle"><i class="ion-social-pinterest"></i></button>
	<button class="ds-social-yt circle"><i class="ion-social-youtube"></i></button>
</div>

<div class="code">
	<h5>HTML Code</h5>
	<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"ds-social-yt circle"</span>></span><span style="color:#ac885b">&lt;<span style="color:#ac885b">i</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"ion-social-youtube"</span>>&lt;/<span style="color:#ac885b">i</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
</pre>
</pre>
</div>

<!-- Size -->
<h2 class="subtitle" id="size">Size</h2>
<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

<div class="group">
	<button class="ds-btn-default btn-sm">Small</button>
	<button class="ds-btn-default">Normal</button>
	<button class="ds-btn-default btn-lg">Large</button>
</div>