<h1>Buttons Elements</h1>

<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

<div class="bread-crumbs">
	<ul>
		<li><a href="#">Icons</a></li>
		<li><a href="#">Flat</a></li>
		<li><a href="#">Border</a></li>
		<li><a href="#">Size</a></li>
	</ul>
</div>

<h2 class="subtitle">Icons</h2>
<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
<div class="group">
	<button class="ds-btn-default"><i class="ion-android-print"></i></button>
	<button class="ds-btn-primary"><i class="ion-android-document"></i></button>
	<button class="ds-btn-success"><i class="ion-android-done"></i></button>
	<button class="ds-btn-warning"><i class="ion-android-create"></i></button>
	<button class="ds-btn-danger"><i class="ion-android-close"></i></button>
</div>

<div class="code">
<h5>HTML Code</h5>
<xmp class="content prettyprint lang-html">
<button class="ds-btn-default">
 <i class="ion-android-print"></i>
</button>
</xmp>
</div>

<script type="text/javascript">
	function loaded() {
prettyPrint();
}
</script>