<h1>Containers</h1>
<div class="bread-crumbs">
	<ul>
		<li><a href="#/css/container#basic">Basic</a></li>
		<li><a href="#/css/container#list">Grid List</a></li>
	</ul>
</div>

<h2 class="subtitle" id="basic">Basic</h2>
<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
<div class="basic-cont">
	<h3>Pellentesque fermentum dolor</h3>
	<p><div class="false_img">No Image</div>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc. Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna.</p>	

</div>