<h1>Containers</h1>
<div class="bread-crumbs">
	<ul>
		<li><a href="#/css/container#basic">Basic</a></li>
		<li><a href="#/css/container#list">Grid List</a></li>
	</ul>
</div>

<!-- Basic container -->
<h2 class="subtitle" id="basic">Basic</h2>
<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
<div class="basic-cont">
	<h3>Pellentesque fermentum dolor</h3>
	<p><div class="img border pull-left"><img src="" alt=""/></div>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc. Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna.</p>	
</div>
<div class="code">
	<h5>HTML Code</h5>
	
	<pre class="content"><span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"basic-cont"</span>></span>...<span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
</pre>
</div>

<!-- List Grid -->
<h2 class="subtitle" id="basic">List-grid</h2>
<div class="list-grid row">
	<div class="col col-ds-3">
		<div class="list">
			<div class="img full-width"><img src="" alt=""/></div>
			<h4>Lorem Ipsum</h4>
			<p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor.</p>
		</div>
	</div>
	<div class="col col-ds-3">
		<div class="list">
			<div class="img full-width"><img src="" alt=""/></div>
			<h4>Lorem Ipsum</h4>
			<p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor.</p>
		</div>
	</div>
	<div class="col col-ds-3">
		<div class="list">
			<div class="img full-width"><img src="" alt=""/></div>
			<h4>Lorem Ipsum</h4>
			<p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor.</p>
		</div>
	</div>
	<div class="col col-ds-3">
		<div class="list">
			<div class="img full-width"><img src="" alt=""/></div>
			<h4>Lorem Ipsum</h4>
			<p>Pellentesque fermentum.</p>
			<button class="ds-btn-danger btn-sm full-width" style="margin-top: 18px">Entrar</button>
		</div>
	</div>
</div>
<div class="code">
	<h5>HTML Code</h5>
	<pre class="content"><span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"list-grid row"</span>></span>
   <span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"col col-ds-3"</span>></span>
      <span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"list"</span>></span>
         <span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"img full-width"</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">img</span> <span style="color:#e0c589">src</span>=<span style="color:#8f9d6a">""</span> <span style="color:#e0c589">alt</span>=<span style="color:#8f9d6a">""</span>/></span><span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
         <span style="color:#e0c589">&lt;<span style="color:#e0c589">strong</span>></span>...<span style="color:#e0c589">&lt;/<span style="color:#e0c589">strong</span>></span>
         <span style="color:#ac885b">&lt;<span style="color:#ac885b">p</span>></span>...<span style="color:#ac885b">&lt;/<span style="color:#ac885b">p</span>></span>
      <span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
   <span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
<span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
</pre>
</div>

<!-- Cards -->
<h2 class="subtitle" id="basic">Cars</h2>
<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

<div class="card-content row">
	<div class="col col-ds-6">
		<div class="card">
			<div class="img circleBox pull-left"><img src="" class="user" alt=""></div>
			<h4>Pellentesque fermentum</h4>
			<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
		</div>
	</div>
	<div class="col col-ds-6">
		<div class="card">
			<div class="img circleBox pull-left"><img src="" class="user" alt=""></div>
			<h4>Pellentesque fermentum</h4>
			<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
		</div>
	</div>
</div>