<h1>Form</h1>
<div class="bread-crumbs">
	<ul>
		<li><a href="#/css/form#basic">Basic Components</a></li>
		<li><a href="#/css/form#disabled">Disabled Elements</a></li>
		<li><a href="#/css/form#error">Error</a></li>
		<li><a href="#/css/form#custom">Custom Fields</a></li>
		<li><a href="#/css/form#radio-check">Radio Button &amp; Checkbox</a></li>
		<li><a href="#/css/form#radio-check">Search</a></li>
	</ul>
</div>

<!-- BASIC COMPONENTS -->
<h2 class="subtitle" id="basic">Basic Components</h2>
<p class="section-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
<div class="row">
	<div class="col-ds-4"><input type="text" placeholder="Text" class="form-inp"/></div>
	<div class="col-ds-4"><input type="password" placeholder="Password" class="form-inp"/></div>
	<div class="col-ds-4">
		<select class="form-inp">
			<option>Option 1</option>	
			<option>Option 2</option>	
			<option>Option 3</option>	
		</select>
	</div>
</div>
<div class="row" style="margin-bottom: 20px;">
	<div class="col-ds-12">
		<textarea placeholder="Textarea" class="form-inp"></textarea>
	</div>
</div>

<!-- DISABLED ELEMENTS -->
<h2 class="subtitle" id="disabled">Disabled Elements</h2>
<p class="section-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
<div class="row" style="margin-bottom: 20px;">
	<div class="col-ds-4">
		<input type="text" class="form-inp" disabled="disabled">
	</div>
	<div class="col-ds-4">
		<select class="form-inp" disabled="disabled">
			<option>Option 1</option>	
			<option>Option 2</option>	
			<option>Option 3</option>	
		</select>
	</div>
	<div class="col-ds-4">
		<button class="ds-btn-primary" disabled="disabled">Enviar</button>
	</div>
</div>

<!-- ERROR -->
<h2 class="subtitle" id="error">Error</h2>
<p class="section-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
<input type="text" class="error" style="width: 300px">
<div class="code">
	<h5>HTML Code</h5>
	<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">input</span> <span style="color:#e0c589">type</span>=<span style="color:#8f9d6a">"text"</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"error"</span>/></span>
</pre>
</div>

<!-- CUSTOM FIELDS -->
<h2 class="subtitle" id="custom">Custom Fields</h2>
<p class="section-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

<div class="row">
	<div class="col-ds-4"><input type="text" class="inp-user form-inp" placeholder=".inp-user"/></div>
	<div class="col-ds-4"><input type="password" class="inp-pass form-inp" placeholder=".inp-pass"/></div>
	<div class="col-ds-4"><input type="text" class="inp-phone form-inp" placeholder=".inp-phone"/></div>
</div>
<div class="row">
	<div class="col-ds-4"><input type="text" class="inp-mail form-inp" placeholder=".inp-mail"/></div>
	<div class="col-ds-4"><input type="text" class="inp-location form-inp" placeholder=".inp-location"/></div>
	<div class="col-ds-4"><input type="text" class="inp-job form-inp" placeholder=".inp-job"/></div>
</div>
<div class="row">
	<div class="col-ds-4"><input type="text" class="inp-edit form-inp" placeholder=".inp-edit"/></div>
	<div class="col-ds-4"><input type="text" class="inp-key form-inp" placeholder=".inp-key"/></div>
	<div class="col-ds-4">
		<select class="inp-list form-inp">
			<option>.inp-list</option>
			<option>.inp-list (second)</option>
		</select>
	</div>
</div>
<div class="row">
	<div class="col-ds-4"><input type="text" class="inp-cloud form-inp" placeholder=".inp-cloud"/></div>
	<div class="col-ds-4"><input type="text" class="inp-bar form-inp" placeholder=".inp-bar"/></div>
	<div class="col-ds-4"><input type="text" class="inp-link form-inp" placeholder=".inp-link"/></div>
</div>
<div class="row">
	<div class="col-ds-12"><textarea class="inp-message form-inp" placeholder=".inp-message"></textarea></div>
</div>
<div class="code">
	<h5>HTML Code</h5>
	<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">input</span> <span style="color:#e0c589">type</span>=<span style="color:#8f9d6a">"text"</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"inp-user"</span>/></span>
</pre>
</div>

<h3 class="category">Other Style</h3>
<div class="row">
	<div class="col-ds-4">
		<div class="box-inp">
			<input type="text" class="form-inp" placeholder="Username"/>
			<i class="ion-android-person"></i>
		</div>
	</div>
	<div class="col-ds-4">
		<div class="box-inp">
			<input type="password" class="form-inp" placeholder="Password"/>
			<i class="ion-android-lock"></i>
		</div>
	</div>
	<div class="col-ds-4">
		<div class="box-inp">
			<input type="text" class="form-inp" placeholder="Phone"/>
			<i class="ion-android-call"></i>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-ds-4">
		<div class="box-inp">
			<input type="text" class="form-inp" placeholder="Email"/>
			<i class="ion-android-mail"></i>
		</div>
	</div>
	<div class="col-ds-4">
		<div class="box-inp">
			<select class="form-inp">
				<option>.box-inp-list</option>
				<option>.box-inp-list (second)</option>
			</select>
			<i class="ion-android-list"></i>
		</div>
	</div>
	<div class="col-ds-4">
		<div class="box-inp">
			<input type="text" class="error form-inp" placeholder=".error"/>
			<i class="ion-android-bookmark"></i>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-ds-12">
		<div class="box-inp">
			<textarea class="form-inp"></textarea>
			<i class="ion-android-textsms"></i>
		</div>
	</div>
</div>
<div class="code">
	<h5>HTML Code</h5>
	<pre class="content"><span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"box-inp"</span>></span>
   <span style="color:#e0c589">&lt;<span style="color:#e0c589">input</span> <span style="color:#e0c589">type</span>=<span style="color:#8f9d6a">"text"</span>/></span>
   <span style="color:#ac885b">&lt;<span style="color:#ac885b">i</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"ion-android-person"</span>>&lt;/<span style="color:#ac885b">i</span>></span>
<span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
</pre>
</div>

<!-- RADIO BUTTONS & CHECKBOX -->
<h2 class="subtitle" id="radio-check">Radio Buttons &amp; Checkbox</h2>
<p class="section-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

<h3 class="category">Radio Buttons</h3>
<span class="form-label">¿What's your academic level?</span>
<label class="form-rdb"><input type="radio" name="educacion"/><span class="elem"></span>Primary</label>
<label class="form-rdb"><input type="radio" name="educacion"/><span class="elem"></span>Secondary</label>
<label class="form-rdb"><input type="radio" name="educacion"/><span class="elem"></span>Technical</label>
<label class="form-rdb"><input type="radio" name="educacion"/><span class="elem"></span>University</label>

<div class="code">
	<h5>HTML Code</h5>
	<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">label</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"form-rdb"</span>></span>
   <span style="color:#e0c589">&lt;<span style="color:#e0c589">input</span> <span style="color:#e0c589">type</span>=<span style="color:#8f9d6a">"radio"</span>/></span><span style="color:#ac885b">&lt;<span style="color:#ac885b">span</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"elem"</span>>&lt;/<span style="color:#ac885b">span</span>></span>Primaria
<span style="color:#e0c589">&lt;/<span style="color:#e0c589">label</span>></span>
</pre>
</div>

<h3 class="category">Checkbox</h3>
<span class="form-label">What categories are you interested in?</span>
<label class="form-chk"><input type="checkbox"/><span class="elem"></span>Sport</label>
<label class="form-chk"><input type="checkbox"/><span class="elem"></span>Technology</label>
<label class="form-chk"><input type="checkbox"/><span class="elem"></span>Entertaiment</label>
<label class="form-chk"><input type="checkbox"/><span class="elem"></span>Travel</label>

<div class="code">
	<h5>HTML Code</h5>
	<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">label</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"form-chk"</span>></span>
   <span style="color:#e0c589">&lt;<span style="color:#e0c589">input</span> <span style="color:#e0c589">type</span>=<span style="color:#8f9d6a">"checkbox"</span>/></span><span style="color:#ac885b">&lt;<span style="color:#ac885b">span</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"elem"</span>>&lt;/<span style="color:#ac885b">span</span>></span>Deportes
<span style="color:#e0c589">&lt;/<span style="color:#e0c589">label</span>></span>
</pre>
</div>

<!-- SEARCH -->
<h2 class="subtitle" id="search">Search</h2>
<p class="section-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

<div class="row">
	<div class="col col-ds-6">
		<div class="search-box form-inp">
			<input type="text" class="inp-glass" placeholder="Search">
			<input type="submit" class="submit ds-btn-primary" value="Buscar" />
		</div>
	</div>
	<div class="col col-ds-6">
		<div class="search-box form-inp">
			<input type="text" placeholder="Search">
			<buttom class="submit ds-btn-primary"><i class="ion-android-search"></i></buttom>
		</div>
	</div>
</div>