<h1>Form</h1>
<div class="bread-crumbs">
	<ul>
		<li><a href="#/css/container#alert">Elements</a></li>
		<li><a href="#/css/container#dialog">Dark</a></li>
	</ul>
</div>

<h2 lass="subtitle" id="default">Default</h2>
<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

<div class="row">
	<div class="col col-ds-4"><input type="text" placeholder="Text" /></div>
	<div class="col col-ds-4"><input type="password" placeholder="Password" /></div>
	<div class="col col-ds-4">
		<select>
			<option>Option 1</option>	
			<option>Option 2</option>	
			<option>Option 3</option>	
		</select>
	</div>
</div>
<div class="row">
	<div class="col col-ds-12">
		<textarea placeholder="Textarea"></textarea>
	</div>
</div>