<div id="images-section">
	<h1>Images</h1>
	<div class="bread-crumbs">
		<ul>
			<li><a href="#/css/images#background">Background</a></li>
			<li><a href="#/css/images#border">Round & Border</a></li>
			<li><a href="#/css/images#label">Label</a></li>
			<li><a href="#/css/images#size">Sizes</a></li>
		</ul>
	</div>
	
	<!-- No image -->
	<h2 class="subtitle" id="background">Background (No image)</h2>
	<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
	<div class="clear">
		<div class="img default pull-left"><img src="" alt=""/></div>
		<div class="img default pull-left"><img src="" class="broken" alt=""/></div>
		<div class="img default pull-left"><img src="" class="user" alt=""/></div>
	</div>
	<div class="code">
		<h5>HTML Code</h5>
		<pre class="content"><span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"img default"</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">img</span> <span style="color:#e0c589">src</span>=<span style="color:#8f9d6a">""</span> <span style="color:#e0c589">alt</span>=<span style="color:#8f9d6a">""</span>/></span><span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
<span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"img default"</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">img</span> <span style="color:#e0c589">src</span>=<span style="color:#8f9d6a">""</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"broken"</span> <span style="color:#e0c589">alt</span>=<span style="color:#8f9d6a">""</span>/></span><span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
<span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"img default"</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">img</span> <span style="color:#e0c589">src</span>=<span style="color:#8f9d6a">""</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"user"</span> <span style="color:#e0c589">alt</span>=<span style="color:#8f9d6a">""</span>/></span><span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
</pre>
</div>

	<!-- Round and border -->
	<h2 class="subtitle" id="border">Round & Border</h2>
	<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
	<div class="clear">
		<div class="img default border pull-left"><img src="" alt=""/></div>
		<div class="img circleBox border pull-left"><img src="" class="user" alt=""></div>
	</div>
	<div class="code">
		<h5>HTML Code</h5>
		<pre class="content"><span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"img default border"</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">img</span> <span style="color:#e0c589">src</span>=<span style="color:#8f9d6a">""</span> <span style="color:#e0c589">alt</span>=<span style="color:#8f9d6a">""</span>/></span><span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
<span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"img circleBox"</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">img</span> <span style="color:#e0c589">src</span>=<span style="color:#8f9d6a">""</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"user"</span> <span style="color:#e0c589">alt</span>=<span style="color:#8f9d6a">""</span>></span><span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
</pre>
	</div>

	<!-- Label -->
	<h2 class="subtitle" id="label">Label</h2>
	<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
	<div class="clear">
		<div class="img large">
			<img src="" class="user" alt=""/> 
			<span class="image-label">felis facilisis fermentum ...</span>
		</div>
	</div>
	<div class="code">
		<h5>HTML Code</h5>
		<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">span</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"image-label"</span>></span>...<span style="color:#e0c589">&lt;/<span style="color:#e0c589">span</span>></span>
</pre>
	</div>

	<!-- Sizes -->
	<h2 class="subtitle" id="size">Sizes</h2>
	<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
	<div class="clear size-img-position">
		<div class="img default">
			<img src="" alt=""/> 
			<span class="image-label">.default</span>
		</div>
		<div class="img medium">
			<img src="" alt=""/> 
			<span class="image-label">.medium</span>
		</div>
		<div class="img large">
			<img src="" alt=""/> 
			<span class="image-label">.large</span>
		</div>
	</div>
	<div class="code">
		<h5>HTML Code</h5>
		<pre class="content"><span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"img default"</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">img</span> <span style="color:#e0c589">src</span>=<span style="color:#8f9d6a">""</span> <span style="color:#e0c589">alt</span>=<span style="color:#8f9d6a">""</span>/></span><span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>       
</pre>
	</div>
</div>