<h1>Message</h1>
<div class="bread-crumbs">
	<ul>
		<li><a href="#/css/container#simple">Alerts</a></li>
		<li><a href="#/css/container#striped">Notification</a></li>
	</ul>
</div>

<h2 lass="subtitle" id="simple">Alerts</h2>
<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
<div class="row">
	<div class="col col-ds-6">
		<div class="info-alert">
			<h4 class="head-message"><i class="ion ion-information-circled"></i> Information</h4>
			<p>Donec nec justo eget felis facilisis fermentum.</p>
		</div>
	</div>
	<div class="col col-ds-6">
		<div class="success-alert">
			<h4 class="head-message"><i class="ion ion-checkmark-circled"></i> Success!</h4>
			<p>Donec nec justo eget felis facilisis fermentum.</p>
		</div>
	</div>
	<div class="col col-ds-6">
		<div class="warning-alert">
			<h4 class="head-message"><i class="ion ion-alert-circled"></i> Warning</h4>
			<p>Donec nec justo eget felis facilisis fermentum.</p>
		</div>
	</div>
	<div class="col col-ds-6">
		<div class="danger-alert">
			<h4 class="head-message"><i class="ion ion-android-cancel"></i> Danger</h4>
			<p>Donec nec justo eget felis facilisis fermentum.</p>
		</div>
	</div>
</div>
<div class="code">
	<h5>HTML Code</h5>
	<pre class="content"><span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"info-alert"</span>></span>
   <span style="color:#ac885b">&lt;<span style="color:#ac885b">h4</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"head-message"</span>></span><span style="color:#ac885b">&lt;<span style="color:#ac885b">i</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"ion ion-information-circled"</span>>&lt;/<span style="color:#ac885b">i</span>></span> ...<span style="color:#ac885b">&lt;/<span style="color:#ac885b">h4</span>></span>
   <span style="color:#ac885b">&lt;<span style="color:#ac885b">p</span>></span>...<span style="color:#ac885b">&lt;/<span style="color:#ac885b">p</span>></span>
<span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
<span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"success-alert"</span>></span>
   <span style="color:#ac885b">&lt;<span style="color:#ac885b">h4</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"head-message"</span>></span><span style="color:#ac885b">&lt;<span style="color:#ac885b">i</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"ion ion-checkmark-circled"</span>>&lt;/<span style="color:#ac885b">i</span>></span> ...<span style="color:#ac885b">&lt;/<span style="color:#ac885b">h4</span>></span>
   <span style="color:#ac885b">&lt;<span style="color:#ac885b">p</span>></span>...<span style="color:#ac885b">&lt;/<span style="color:#ac885b">p</span>></span>
<span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
<span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"warning-alert"</span>></span>
   <span style="color:#ac885b">&lt;<span style="color:#ac885b">h4</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"head-message"</span>></span><span style="color:#ac885b">&lt;<span style="color:#ac885b">i</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"ion ion-alert-circled"</span>>&lt;/<span style="color:#ac885b">i</span>></span> ...<span style="color:#ac885b">&lt;/<span style="color:#ac885b">h4</span>></span>
   <span style="color:#ac885b">&lt;<span style="color:#ac885b">p</span>></span>...<span style="color:#ac885b">&lt;/<span style="color:#ac885b">p</span>></span>
<span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
<span style="color:#ac885b">&lt;<span style="color:#ac885b">div</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"danger-alert"</span>></span>
   <span style="color:#ac885b">&lt;<span style="color:#ac885b">h4</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"head-message"</span>></span><span style="color:#ac885b">&lt;<span style="color:#ac885b">i</span> <span style="color:#ac885b">class</span>=<span style="color:#8f9d6a">"ion ion-android-cancel"</span>>&lt;/<span style="color:#ac885b">i</span>></span> ...<span style="color:#ac885b">&lt;/<span style="color:#ac885b">h4</span>></span>
   <span style="color:#ac885b">&lt;<span style="color:#ac885b">p</span>></span>...<span style="color:#ac885b">&lt;/<span style="color:#ac885b">p</span>></span>
<span style="color:#ac885b">&lt;/<span style="color:#ac885b">div</span>></span>
</pre>
</div>