<h1>Navbars</h1>
<div class="bread-crumbs">
	<ul>
		<li><a href="#/css/container#alert">Default</a></li>
		<li><a href="#/css/container#dialog">Dark</a></li>
	</ul>
</div>

<h2 class="subtitle" id="default">Default</h2>
<p class="section-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

<nav class="navbar default xample">
	<div class="container">
		<div class="head-nav"><a href="#">Company Name</a></div>
    	<ul class="hr_nav">
    		<li><a href="#" class="current">Home</a></li>
    		<li><a href="#">About Us</a></li>
    		<li><a href="#">Contact</a></li>
    	</ul>
    </div>
</nav>

<div class="code">
	<h5>HTML Code</h5>

</pre>
</div>

<h2 class="subtitle" id="dark">Dark</h2>
<p class="section-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

<div style="position: relative;">
	<nav class="navbar darknavbar xample">
		<div class="container">
			<div class="head-nav"><a href="index.html">Company Name</a></div>
	    	<ul class="hr_nav">
	    		<li class="current"><a href="#">Home</a></li>
	    		<li><a href="#">About</a></li>
	    		<li>
	    			<a href="#">Services</a>
	    			<div class="submenu horizontal">
	    				<ul>
	    					<li><a href="#">Service 1</a></li>
	    					<li><a href="#">Service 2</a></li>
	    					<li><a href="#">Service 3</a></li>
	    				</ul>
	    			</div>
	    		</li>
	    		<li><a href="#">Contact</a></li>
	    	</ul>
		</div>
	</nav>
</div>
<div class="code">
	<h5>HTML Code</h5>

</pre>
</div>