<h1>Tables</h1>
<div class="bread-crumbs">
	<ul>
		<li><a href="#/css/container#basic">Basic</a></li>
		<li><a href="#/css/container#list">Grid List</a></li>
		<li><a href="#/css/container#cards">Cards</a></li>
	</ul>
</div>

<h2 lass="subtitle" id="">Standard</h2>
<table>
	<thead>
		<tr>
			<th>Item</th>
			<th>Amount</th>
			<th>Description</th>
			<th style="width: 12%">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Fermentum Dolor</td>
			<td>200</td>
			<td>Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna.</td>
			<td>
				<button class="ds-btn-flat-orange btn-sm"><i class="ion-edit"></i></button>
				<button class="ds-btn-flat-red btn-sm"><i class="ion-close"></i></button>
			</td>
		</tr>
		<tr>
			<td>Fermentum Dolor</td>
			<td>200</td>
			<td>Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna.</td>
			<td>
				<button class="ds-btn-flat-orange btn-sm"><i class="ion-edit"></i></button>
				<button class="ds-btn-flat-red btn-sm"><i class="ion-close"></i></button>
			</td>
		</tr>
	</tbody>
</table>

<h2 lass="subtitle" id="">Striped</h2>
<table class="striped">
	<thead>
		<tr>
			<th>Item</th>
			<th>Amount</th>
			<th>Description</th>
			<th style="width: 12%">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Fermentum Dolor</td>
			<td>200</td>
			<td>Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna.</td>
			<td>
				<button class="ds-btn-flat-orange btn-sm"><i class="ion-edit"></i></button>
				<button class="ds-btn-flat-red btn-sm"><i class="ion-close"></i></button>
			</td>
		</tr>
		<tr>
			<td>Fermentum Dolor</td>
			<td>200</td>
			<td>Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna.</td>
			<td>
				<button class="ds-btn-flat-orange btn-sm"><i class="ion-edit"></i></button>
				<button class="ds-btn-flat-red btn-sm"><i class="ion-close"></i></button>
			</td>
		</tr>
	</tbody>
</table>