<h1>Tables</h1>
<div class="bread-crumbs">
	<ul>
		<li><a href="#/css/table#minimalistic">Minimalistic</a></li>
		<li><a href="#/css/table#striped">Striped</a></li>
		<li><a href="#/css/table#colored">Colored Header</a></li>
		<li><a href="#/css/table#full">Full-Color</a></li>
		<li><a href="#/css/table#col">Column</a></li>
	</ul>
</div>

<h2 class="subtitle" id="minimalistic">Minimalistic</h2>
<p class="section-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
<table class="ds-table">
	<thead>
		<tr>
			<th>Item</th>
			<th>Amount</th>
			<th>Description</th>
			<th style="width: 12%">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Fermentum Dolor</td>
			<td>200</td>
			<td>Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna.</td>
			<td>
				<button class="ds-btn-flat-orange btn-sm"><i class="ion-edit"></i></button>
				<button class="ds-btn-flat-red btn-sm"><i class="ion-close"></i></button>
			</td>
		</tr>
		<tr>
			<td>Fermentum Dolor</td>
			<td>200</td>
			<td>Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna.</td>
			<td>
				<button class="ds-btn-flat-orange btn-sm"><i class="ion-edit"></i></button>
				<button class="ds-btn-flat-red btn-sm"><i class="ion-close"></i></button>
			</td>
		</tr>
	</tbody>
</table>
<div class="code">
	<h5>HTML Code</h5>
	<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">table</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"ds-table"</span>></span>
   <span style="color:#e0c589">&lt;<span style="color:#e0c589">thead</span>></span>
      <span style="color:#e0c589">&lt;<span style="color:#e0c589">tr</span>></span>
         <span style="color:#e0c589">&lt;<span style="color:#e0c589">th</span>></span>...<span style="color:#e0c589">&lt;/<span style="color:#e0c589">th</span>></span>
      <span style="color:#e0c589">&lt;/<span style="color:#e0c589">tr</span>></span>
   <span style="color:#e0c589">&lt;/<span style="color:#e0c589">thead</span>></span>
   <span style="color:#e0c589">&lt;<span style="color:#e0c589">tbody</span>></span>
      <span style="color:#e0c589">&lt;<span style="color:#e0c589">tr</span>></span>
         <span style="color:#e0c589">&lt;<span style="color:#e0c589">td</span>></span>...<span style="color:#e0c589">&lt;/<span style="color:#e0c589">td</span>></span>
      <span style="color:#e0c589">&lt;/<span style="color:#e0c589">tr</span>></span>
   <span style="color:#e0c589">&lt;/<span style="color:#e0c589">tbody</span>></span>
<span style="color:#e0c589">&lt;/<span style="color:#e0c589">table</span>></span>
</pre>
</div>

<!-- STRIPED -->
<h2 class="subtitle" id="striped">Striped</h2>
<p class="section-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
<table class="ds-table striped">
	<thead>
		<tr>
			<th>Item</th>
			<th>Amount</th>
			<th>Description</th>
			<th style="width: 12%">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Fermentum Dolor</td>
			<td>200</td>
			<td>Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna.</td>
			<td>
				<button class="ds-btn-flat-orange btn-sm"><i class="ion-edit"></i></button>
				<button class="ds-btn-flat-red btn-sm"><i class="ion-close"></i></button>
			</td>
		</tr>
		<tr>
			<td>Fermentum Dolor</td>
			<td>200</td>
			<td>Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna.</td>
			<td>
				<button class="ds-btn-flat-orange btn-sm"><i class="ion-edit"></i></button>
				<button class="ds-btn-flat-red btn-sm"><i class="ion-close"></i></button>
			</td>
		</tr>
	</tbody>
</table>
<div class="code">
	<h5>HTML Code</h5>
	<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">table</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"striped ds-table"</span>></span> [...] <span style="color:#e0c589">&lt;/<span style="color:#e0c589">table</span>></span>
</pre>
</div>

<!-- CUSTOM -->
<h2 class="subtitle" id="colored">Colored Header</h2>
<p class="section-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
<table class="ds-table bgheader">
	<thead>
		<tr>
			<th>Item</th>
			<th>Amount</th>
			<th>Description</th>
			<th style="width: 12%">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Fermentum Dolor</td>
			<td>200</td>
			<td>Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna.</td>
			<td>
				<button class="ds-btn-flat-orange btn-sm"><i class="ion-edit"></i></button>
				<button class="ds-btn-flat-red btn-sm"><i class="ion-close"></i></button>
			</td>
		</tr>
		<tr>
			<td>Fermentum Dolor</td>
			<td>200</td>
			<td>Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna.</td>
			<td>
				<button class="ds-btn-flat-orange btn-sm"><i class="ion-edit"></i></button>
				<button class="ds-btn-flat-red btn-sm"><i class="ion-close"></i></button>
			</td>
		</tr>
	</tbody>
</table>
<div class="code">
	<h5>HTML Code</h5>
	<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">table</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"ds-table bgheader"</span>></span> [...] <span style="color:#e0c589">&lt;/<span style="color:#e0c589">table</span>></span>
</pre>
</div>

<!-- FULL COLOR -->
<h2 class="subtitle" id="full">Full-Color</h2>
<p class="section-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
<table class="ds-table fcolor striped">
	<thead class="nocenter">
		<tr>
			<th>Item</th>
			<th>Amount</th>
			<th>Description</th>
			<th style="width: 12%">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<div class="img circleBox small"><img src="https://colorlib.com/wp/wp-content/uploads/sites/2/2013/10/smart-owl-flat-logo.png" class="user" alt="" style="margin-left: -30px; width: auto;" /></div>
			</td>
			<td>200</td>
			<td>Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna.</td>
			<td>
				<button class="ds-btn-flat-orange btn-sm"><i class="ion-edit"></i></button>
				<button class="ds-btn-flat-red btn-sm"><i class="ion-close"></i></button>
			</td>
		</tr>
		<tr>
			<td>
				<div class="img circleBox small"><img src="https://colorlib.com/wp/wp-content/uploads/sites/2/2013/10/smart-owl-flat-logo.png" class="user" alt="" style="margin-left: -30px; width: auto;" /></div>
			</td>
			<td>200</td>
			<td>Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna.</td>
			<td>
				<button class="ds-btn-flat-orange btn-sm"><i class="ion-edit"></i></button>
				<button class="ds-btn-flat-red btn-sm"><i class="ion-close"></i></button>
			</td>
		</tr>
	</tbody>
</table>
<div class="code">
	<h5>HTML Code</h5>
	<pre class="content"><span style="color:#e0c589">&lt;<span style="color:#e0c589">table</span> <span style="color:#e0c589">class</span>=<span style="color:#8f9d6a">"ds-table fcolor"</span>></span> [...] <span style="color:#e0c589">&lt;/<span style="color:#e0c589">table</span>></span>
</pre>
</div>

<!-- COLUMN -->
<h2 class="subtitle" id="col">Column</h2>
<p class="section-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
<table class="ds-table column">
	<thead>
		<tr>
			<th>Column 1</th>
			<th>Column 2</th>
			<th>Column 3</th>
			<th>Column 4</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Pellentesque egestas sem</td>
			<td>Fusce pellentesque suscipit nibh</td>
			<td>Cras ornare tristique elit</td>
			<td>Cras iaculis ultricies nulla</td>
		</tr>
		<tr>
			<td>Fusce lobortis lorem</td>
			<td>Aliquam tincidunt mauris</td>
			<td>Praesent placerat risus</td>
			<td>Ut aliquam sollicitudin leo</td>
		</tr>
		<tr>
			<td>Pellentesque egestas sem</td>
			<td>Fusce pellentesque suscipit nibh</td>
			<td>Cras ornare tristique elit</td>
			<td>Cras iaculis ultricies nulla</td>
		</tr>
	</tbody>
</table>