/*===================================================
====================== BUTTONS ======================
===================================================*/
%ds-btn,  %ds-btn-flat { 
	border: 0;
	border-radius: .2em; 
	color: $white;
	cursor: pointer;
	display: inline-block;
	font-size: 16px !important;
	outline: 0;
	padding: 6px 14px; 
	// vertical-align: bottom;
	@include transition(.2s);
	text-decoration: none;

	&:hover { opacity: 0.9; text-decoration: none; }
	&:active { opacity: 1; }
}

//flat buttons
%ds-btn-flat { background-color: transparent; opacity: 1 !important; }

//rounded buttons
.rounded { 
	border-radius: 30px; 
	padding: 6px 26px; 

	&.btn-sm { padding: 0px 14px; }
	&.btn-lg { padding: 10px 34px; }
}

//circle buttons
.circle { 
	border-radius: 30px; 
	font-size: 22px !important;
	height: 45px;
	padding: 0;
	text-align: center;
	width: 45px;

	.btn-sm {
		font-size: 15px !important;
		height: 30px; 
		width: 30px;
	}

	.btn-lg { 
		font-size: 26px !important;
		height: 60px; 
		width: 60px;
	}
}

//Raised buttons
.raised { 
	@include transition(.1s); 
	border-width: 0 0 4px !important; 
	position: relative;

	&:active { 
		border: 0; 
		@include box-shadow(2px 2px 4px rgba(0, 0, 0, 0.3) inset);
		border: 0;
		top: 4px;
	}
}

//size buttons
.btn-sm { font-size: 13px !important; padding: 2px 8px; }
.btn-lg { font-size: 20px !important; padding: 14px 28px; }

//Colors
.ds-btn-default { @extend %ds-btn; background-color: $white; border: 1px solid $grey; color: $black; }
.ds-btn-success { @extend %ds-btn; background-color: rgba($green, .92); border: 1px solid $green; }
.ds-btn-primary { @extend %ds-btn; background-color: rgba($blue, .92); border: 1px solid $blue; }
.ds-btn-warning { @extend %ds-btn; background-color: rgba($orange, .92); border: 1px solid $orange; }
.ds-btn-danger { @extend %ds-btn; background-color: rgba($red, .92); border: 1px solid $red; }
.ds-btn-wisteria { @extend %ds-btn; background-color: rgba($wisteria, .92); border: 1px solid $wisteria; }
.ds-btn-regal-blue { @extend %ds-btn; background-color: rgba($regal-blue, .9); border: 1px solid $regal-blue }
.ds-btn-green-sea { @extend %ds-btn; background-color: rgba($green-sea, .92); border: 1px solid $green-sea; }
// -----------------------------------------------------------------------------------------------------
.ds-btn-flat-blue { @extend %ds-btn-flat; color: $blue; }
.ds-btn-flat-blue:hover { background-color: $blue; color: $white; }
.ds-btn-flat-red { @extend %ds-btn-flat; color: $red; }
.ds-btn-flat-red:hover { background-color: $red; color: $white; }
.ds-btn-flat-orange { @extend %ds-btn-flat; color: $orange; }
.ds-btn-flat-orange:hover { background-color: $orange; color: $white; }
.ds-btn-flat-green { @extend %ds-btn-flat; color: $green; }
.ds-btn-flat-green:hover { background-color: $green; color: $white; }
.ds-btn-flat-wisteria { @extend %ds-btn-flat; color: $wisteria; }
.ds-btn-flat-wisteria:hover { background-color: $wisteria; color: $white; }
.ds-btn-flat-regal-blue { @extend %ds-btn-flat; color: $regal-blue; }
.ds-btn-flat-regal-blue:hover { background-color: $regal-blue; color: $white; }
.ds-btn-flat-green-sea { @extend %ds-btn-flat; color: $green-sea; }
.ds-btn-flat-green-sea:hover { background-color: $green-sea; color: $white; }
// -----------------------------------------------------------------------------------------------------
.ds-social-tt { @extend %ds-btn; background-color: $tt-blue; }
.ds-social-fb { @extend %ds-btn; background-color: $fb-blue; }
.ds-social-gg { @extend %ds-btn; background-color: $gg-red; }
.ds-social-ig { @extend %ds-btn; background-color: $ig-brown; }
.ds-social-pt { @extend %ds-btn; background-color: $pt-red; }.ds-social-yt { @extend %ds-btn; background-color: $yt-red; }