/*===================================================
==================== CONTAINERS =====================
===================================================*/

.basic-cont {
	@include box-shadow(0 4px 5px 0 rgba(0,0,0,.14));
	background-color: $white;
	border-radius: 3px;
	padding: 30px;
}

.list-grid {
	
	.list {
		border: 1px solid $grey;
		border-radius: 3px; 
		background-color: $white;
		margin-bottom: 10px; 
		min-height: 250px;
		padding: 10px;

		.img { margin-bottom: 15px; }

		h4 { margin-bottom: 8px; }

		p { font-size: 14px; margin: 0; }
	}
}

.card-content {

	.card {
		@include box-shadow(0 4px 5px 0 rgba(0,0,0,.14));
		background-color: $white;
		border-radius: 3px; 
		border-top: 4px solid $silver;
		margin-bottom: 10px; 
		min-height: 140px;
		padding: 15px; 

		h4 { margin-bottom: 8px; }

		p { font-size: 14px; margin: 0; }
	}

}