/*===================================================
==================== CONTAINERS =====================
===================================================*/

.basic-cont {
	@include box-shadow(0 4px 5px 0 rgba(0,0,0,.14));
	background-color: $white;
	border-top: 1px solid rgba($grey, .5);
	border-radius: 3px;
	padding: 30px;
}

#content-page {
	background-color: $white;
	margin-bottom: 30px;
	padding: 25px 30px 30px;
}

.back-page { 
	background-color: $white; 
	height: 50px;
	left: -50%;
	margin: 0 auto;
	position: absolute;
	right: -50%;
	top: -14px;
	width: 93%;
	z-index: -1;
}

.list-grid {
	
	.list {
		@include box-shadow(0 4px 5px 0 rgba(0,0,0,.14));
		border: 1px solid rgba($grey, .5);
		border-radius: 3px; 
		background-color: $white;
		margin-bottom: 10px; 
		min-height: 250px;
		padding: 10px;

		img { border-radius: 0; margin-bottom: 10px; }

		h4 { margin-bottom: 5px; }

		p { font-size: 14px; margin: 0; }
	}
}

.card-content {

	.card {
		@include box-shadow(0 4px 5px 0 rgba(0,0,0,.14));
		background-color: $white;
		border-radius: 3px; 
		border-top: 4px solid rgba($blue, .8);
		margin-bottom: 10px; 
		min-height: 140px;
		padding: 15px; 

		h4 { margin-bottom: 8px; }

		p { font-size: 14px; margin: 0; }
	}

}