/*===================================================
=================== FORM ELEMENTS ===================
===================================================*/
label { display: inline-block; margin: 0 15px 15px 0; }
.form-inp { width: 100% !important; } 
.form-label { display: block; font-size: 14px; font-weight: bold; }

input:-webkit-autofill { padding-left: 16px !important; -webkit-box-shadow: 0 0 0px 1000px #fff inset; }

/*BASICS*/
input[type="text"], input[type="password"], input[type="number"], select, textarea, .upload-file {
    background-color: $white;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 40px;
    margin-bottom: 15px;
    padding: 0 12px;
    position: relative;
}

input[type="radio"], input[type="checkbox"] { margin-bottom: 15px; }

textarea { 
    display: block;
    height: 80px; 
    margin-bottom: 15px;
    padding: 8px 12px; 
}

/*DISABLED ELEMENTS*/
*:disabled {
    cursor: not-allowed !important;
    opacity: .6;

    &:hover { opacity: .6; }
}

input:disabled, select:disabled, textarea:disabled { 
    background-color: rgba($grey, .4); 
    border: 1px solid rgba($regal-blue, .4); 
}

/*ERROR STYLE*/
.error, .error input, .error textarea, .error select { 
    background-color: #FFF6DC !important; 
    border-color: rgba($red, .7) !important; 
    color: $red;
}

/*ESPECIAL FIELDS*/
.inp-user { 
    background: { image: url('../img/svg/account.svg'); repeat: no-repeat; position: 12px 7px; }
    padding-left: 45px !important; 
}
.inp-pass {     
    background: { image: url('../img/svg/lock.svg'); repeat: no-repeat; position: 12px 7px; }
    padding-left: 45px !important;  
}
.inp-phone { 
    background: { image: url('../img/svg/phone.svg'); repeat: no-repeat; position: 12px 7px; }
    padding-left: 45px !important; 
}
.inp-mail { 
    background: { image: url('../img/svg/mail.svg'); repeat: no-repeat; position: 12px 7px; }
    padding-left: 45px !important; 
}
.inp-location { 
    background: { image: url('../img/svg/location.svg'); repeat: no-repeat; position: 12px 7px; }
    padding-left: 45px !important; 
}
.inp-job {
    background: { image: url('../img/svg/job.svg'); repeat: no-repeat; position: 12px 7px; }
    padding-left: 45px !important; 
}
.inp-message { 
    background: { image: url('../img/svg/message.svg'); repeat: no-repeat; position: 12px 7px; }
    padding-left: 45px !important; 
}
.inp-edit { 
    background: { image: url('../img/svg/pencil.svg'); repeat: no-repeat; position: 12px 7px; }
    padding-left: 45px !important; 
}
.inp-list { 
    background: { image: url('../img/svg/list.svg'); repeat: no-repeat; position: 12px 7px; }
    padding-left: 45px !important;
}
.inp-link { 
    background: { image: url('../img/svg/link.svg'); repeat: no-repeat; position: 12px 7px; }
    padding-left: 45px !important;
}
.inp-cloud { 
    background: { image: url('../img/svg/cloud.svg'); repeat: no-repeat; position: 12px 7px; }
    padding-left: 45px !important;
}
.inp-key { 
    background: { image: url('../img/svg/key.svg'); repeat: no-repeat; position: 12px 7px; } 
    padding-left: 45px !important;
}
.inp-bar { 
    background: { image: url('../img/svg/barcode.svg'); repeat: no-repeat; position: 12px 7px; }
    padding-left: 45px !important;
}
.inp-glass { 
    background: { image: url('../img/svg/glass.svg'); repeat: no-repeat; position: 12px 7px; }
    padding-left: 45px !important;
}

.box-inp {
    margin-bottom: 15px;
    position: relative;

    i {
        background-color: rgba($black, .8);
        border-radius: 4px 0 0 4px;
        border-right: 1px solid rgba($black, .7);
        color: $white;
        font-size: 20px;
        height: 100%;
        left: 0;
        line-height: 40px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 42px;
        z-index: 1;
    }

    input, textarea, select { margin-bottom: 0; padding-left: 50px; }

    .error + i { background-color: rgba($red, .9); border-right-color: rgba($red, .7); }

}

/*SEARCH*/
.search-box {
    position: relative;
    margin-bottom: 20px;
    width: 350px; 

    &.medium { width: 500px; }
    &.full { width: 100%; }

    input[type="text"] { margin: 0; width: 100%; }

    .submit {
        border-radius: 0 3px 3px 0;
        font-size: 14px !important;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;

        & i { font-size: 16px !important; }
    }
}

/*RADIOBTN & CHECKBOX*/
.form-chk, .form-rdb {
    cursor: pointer;    
    position: relative;

    &:last-child { margin-right: 0; }

    input { 
        margin-right: 8px;
        opacity: 0;

        &:checked + span.elem {
            border-color: $green-sea;

            &:before { background-color: $green-sea; }
        } 
    }

    &.form-rdb span.elem { 
        border-radius: 20px; 

        &:before { border-radius: 10px; }
    }

    span.elem {
        @include transition(.1s);
        background-color: $white;
        border: 1px solid rgba($black, .4);
        border-radius: 4px;
        box-shadow: 0 0 6px rgba($black, .2) inset;
        display: block;
        height: 16px;
        left: 0;
        padding: 2px;
        position: absolute;
        top: 4px;
        width: 16px;

        &:before {
            @include transition(.1s);
            background-color: transparent;
            border-radius: 1px; 
            display: block;
            content: "";
            height: 100%;
            width: 100%;
        }
    }
}

/*SWITCH BUTTONS*/
.switch {
    cursor: pointer;
    height: 30px;
    position: relative;
    width: 75px;

    .switch-label {
        @include transition(.3s);
        background-color: rgba($grey, .4);
        border: 1px solid rgba($black, .15);
        border-radius: 20px;
        display: block;
        height: 100%;
        position: relative;
        width: 100%;

        &:before, &:after {
            @include transition(inherit);
            color: rgba($black, .7);            
            font-size: 14px;
            position: absolute;
            top: 2px;
        }

        &:before { 
            color: $white; 
            content: attr(data-on); 
            opacity: 0;
            left: 14px; 
        }

        &:after { content: attr(data-off); right: 14px; }
    }

    .switch-btn {
        @include box-shadow(0 4px 5px 0 rgba(0,0,0,.14));
        @include transition(All .2s ease);
        background-color: $white;
        border-radius: 20px;
        display: block;
        height: 80%;
        left: 3px;
        position: absolute;
        top: 3px;
        width: 24px;
    }

    .switch-inp { 
        left: 10px;
        position: absolute; 
        top: 10px;
        visibility: hidden; 

        &:checked ~ .switch-btn { 
            left: 48px; 
        }

        &:checked + .switch-label:before { opacity: 1; }
        &:checked + .switch-label:after { opacity: 0; }
        &:checked + .switch-label { background-color: rgba($green-sea, .6); }
    }
}