/*===================================================
==================== GRID SYSTEM ====================
===================================================*/
$column: 12;

.row { 
	margin: 0 -10px; 
	&:before, &:after { 
		clear: both;
		content: ""; 
		display: block;
	}
	
	%col { 
		box-sizing: border-box;
		float: left; 
		padding: 0 10px;
	}

	@for $i from 1 through 12 {
		.col-ds-#{$i} { @extend %col; width: $i * 100% / $column }
	}
}