/*===================================================
===================== MESSAGES ======================
===================================================*/
%alert {
	border-radius: 4px;
	font-size: 15px;
	margin-bottom: 20px;
	overflow: hidden;

	h4.head-message { 
		color: $white;
		font-weight: normal;
		margin: 0; 
		padding: 3px 15px;
	}

	p { margin: 0; padding: 10px 15px; }
}

.info-alert {
	@extend %alert;
	background-color: rgba($blue, .1);
	border: 1px solid rgba($blue, .6);
	color: $blue;

	h4 { background-color: rgba($blue, .6); }
}

.success-alert {
	@extend %alert;
	background-color: rgba($green, .1);
	border: 1px solid rgba($green, .7);
	color: $green;

	h4 { background-color: rgba($green, .7); }
}

.warning-alert {
	@extend %alert;
	background-color: rgba($orange, .1);
	border: 1px solid rgba($orange, .6);
	color: $orange;

	h4 { background-color: rgba($orange, .6); }
}

.danger-alert {
	@extend %alert;
	background-color: rgba($red, .1);
	border: 1px solid rgba($red, .9);
	color: $red;

	h4 { background-color: rgba($red, .9); }
}

%dialog {
	background-color: $white;
	border: 1px solid;
	border-left-width: 6px;
	border-radius: 4px;
	margin-bottom: 30px;
	padding: 15px;

	h3 { margin: 0 0 10px }

	p { margin: 0; }
}

.dialog-black { @extend %dialog; border-color: $black; }
.dialog-blue { @extend %dialog; border-color: $blue; }
.dialog-clouds { @extend %dialog; border-color: $clouds; }
.dialog-midnight-blue { @extend %dialog; border-color: $midnight-blue; }
.dialog-green { @extend %dialog; border-color: $green; }
.dialog-green-sea { @extend %dialog; border-color: $green-sea; }
.dialog-orange { @extend %dialog; border-color: $orange; }
.dialog-regal-blue { @extend %dialog; border-color: $regal-blue; }
.dialog-red { @extend %dialog; border-color: $red; }
.dialog-silver { @extend %dialog; border-color: $silver; }
.dialog-violet { @extend %dialog; border-color: $violet; }
.dialog-yellow { @extend %dialog; border-color: $yellow; }
.dialog-grey { @extend %dialog; border-color: $grey; }
.dialog-light-grey { @extend %dialog; border-color: $light-grey; }