/*===================================================
====================== NAVBAR =======================
===================================================*/
.navbar { 
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 40px;
	width: 100%; 
	z-index: 999;

	a { 
		color: $black;
		display: block; 
		padding: 15px;
		text-decoration: none; 

		&:hover { text-decoration: none; }
		&.icons { font-size: 24px; padding: 12px 15px; }
	}

	.head-nav { 
		float: left; 
		font-size: 18px; 
		margin-right: 40px;

		a { padding-left: 0; }
	}

	ul {
		float: left;
		margin: 0; 
		padding: 0;

		li {
			float: left;  
			list-style: none; 
			margin-right: 3px;
		}
	}

	//submenu
	.submenu {
		&.horizontal:hover nav, &.vertical:hover nav { height: auto; visibility: visible; opacity: 1; }
		&.horizontal:hover nav { height: 48px; }

		&.vertical { 
			position: relative;

			li { width: 100%; }
		}

		nav {
			@include transition(.2s);
			height: 0;
			left: 0;
			opacity: 0;
			position: absolute;
			visibility: hidden;
			width: 100%;
			z-index: 999;

			li { 
				@include transition(none); 

				a {
					opacity: .8;
					&:hover {
						background-color: rgba($white, .2); 
						opacity: 1 
					}
				}
			}
		}
	}

	//styles
	&.default { 
		background-color: $regal-blue; 
		color: $white; 

		a { 
			@include transition(.3s);
			color: $white;
			opacity: 0.7;

			&:hover, &.current { color: $white;	opacity: 1; }
		}
	}

	&.darknavbar { 
		background-color: rgba($black, .9);

		img { 
			float: left; 
			margin-right: 5px;
			position: relative;
			top: -7px;
			width: 30px; 
		}

		li { 
			@include transition(.2s); 
			
			&:hover, &.current { background-color: $blue; }
		}

		a { color: $white; }

		.submenu {	

			nav { background-color: $blue; }

			&.horizontal nav { li { float: left; margin-right: 3px; } }
			&.vertical nav { min-width: 150px; width: auto; }
		}
	}

	&.light {
		@include box-shadow(0 4px 5px 0 rgba(0,0,0,.14));
		background-color: $white;

		li {
			margin-right: 0;
			padding: 15px 0;

			&:first-child a { border-left: 0; }
			&:last-child a { border-right: 0; }

			a { 
				border-left: 1px solid #FFF; 
				border-right: 1px solid $grey; 
				padding: {
					bottom: 0;
					top: 0;
				}
			}
		}
	}

	&.sidebar { 
		background-color: $white; 
		border: 1px solid #DCDCDC;
		width: 200px; 

		li { 
			border-bottom: 1px solid #DCDCDC;

			&:last-child { border-bottom: 0; } 
		}
	}

	&.simple-sidebar {
		ul {
			float: none;
			width: 100%;

			li {
				@include transition(.3s);
				float: none;
				margin-right: 0;
				width: 100%;

				&:hover, &.selected { 
					background-color: #FFF;
					border-radius: 0 3px 3px 0;
					@include box-shadow(2px 0 0 $blue inset); 
					font-weight: bold;
					padding-left: 20px;
				}

				a { margin-bottom: 2px; padding: 10px; }
			}
		}
	}
}