/*===================================================
====================== TABLES =======================
===================================================*/
table {
	width: 100%; 

	th, td { padding: 5px 15px; }
	th { font-size: 16px; }
	td { font-size: 14px; }
	thead { 
		border-bottom: 2px solid $grey;
		border-top: 2px solid $grey; 

		&.nocenter th { text-align: left; }
	}
	tbody tr { border-bottom: 1px solid $grey; }


	&.striped {
		tbody tr:nth-child(2n) { background-color: rgba($light_grey, .6); }
	}

	&.custom-table {
		background-color: $white;
		border: 1px solid $grey;
		border-bottom: 0;
		border-collapse: separate;
		border-radius: 5px;
		overflow: hidden;

		thead {
			background-color: $regal-blue;
			border: 0;

			th { color: $white; }
		}

		td { border-bottom: 1px solid $grey; }
	}

	&.custom-table-fcolor {
		background-color: $regal-blue;
		border-radius: 5px;
		color: $white;
		overflow: hidden;

		thead, tbody tr { border: 1px solid rgba($white, .1); }

		&.custom-table-fcolor.striped {
			tbody tr:nth-child(2n) { background-color: #3A546D !important; }
		}
	}
}