
//COLORS ====================================================
$black: #353535;
$blue: #2980b9;
$clouds: #ecf0f1;
$midnight-blue: #2c3e50;
$green: #27ae60;
$green-sea: #16a085;
$orange: #f39c12;
$regal-blue: #274058;
$red: #e74c3c;
$silver: #bdc3c7;
$white: #fafafa;
$wisteria: #8e44ad;
$yellow: #f1c40f;
$grey: #CCC;

$tt-blue: #55acee;
$fb-blue: #3b5998;
$gg-red: #DD4B39;
$pt-red: #bd081c;
$yt-red: #ed3935;
$ig-brown: #a77658;