
//GENERAL COLORS
$black: #353535;
$blue: #2980b9;
$clouds: #ecf0f1;
$midnight-blue: #2c3e50;
$green: #43A047;
$green-sea: #16a085;
$orange: #FB8C00;
$regal-blue: #274058;
$red: #f44336;
$silver: #bdc3c7;
$white: #fff;
$violet: #8E24AA;
$yellow: #FBC02D;
$grey: #CCC;
$light-grey: #ECECEC;

//SOCIAL NETWORKS
$tt-blue: #55acee;
$fb-blue: #3b5998;
$gg-red: #DD4B39;
$pt-red: #bd081c;
$yt-red: #ed3935;
$ig-brown: #a77658;