/*===================================================
====================== BUTTONS ======================
===================================================*/
%ds-btn { 
	border: 0;
	border-radius: 3px; 
	color: $white;
	display: inline-block;
	outline: 0;
	padding: 4px 12px; 
	vertical-align: bottom;
	@include transition(.2s);

	&:hover { opacity: 0.9; }
}

.ds-btn-default { @extend %ds-btn; background-color: $white; border: 1px solid #B9B9B9;	color: $black; }
.ds-btn-success { @extend %ds-btn; background-color: $green; border: 1px solid #1E9651; }
.ds-btn-primary { @extend %ds-btn; background-color: $blue; border: 1px solid #206B9C; }
.ds-btn-warning { @extend %ds-btn; background-color: $orange; border: 1px solid #D48C19; }
.ds-btn-danger { @extend %ds-btn; background-color: $red; border: 1px solid #C53F31; }

//size buttons
.ds-btn-sm { font-size: 14px; padding: 0 6px; }